<h3>
   <small>
   <a ui-sref="app.dashboard" ><i class="fa fa-home"></i>Home</a> >> 
   Accounting >>
   Purchase</small>
</h3>
<!-- START panel-->
<div data-ng-controller="AccPurchaseController as form" class="container-fluid">
	<div class="panel panel-default">
		 <!--h4 class="panel-heading"></h4-->
		<div class="panel-body">
			<div class="form-group">
				<label class="col-sm-1 control-label"> Company </label>
					<div class="col-sm-4">
						<select chosen="" data-ng-model="addBranch.companyDropDown" data-ng-options="s.company_name for s in form.companyDrop track by s.company_id" class="form-control chosen-select"></select>
					</div>
				<label class="col-sm-1 control-label"> Date </label>
					<div class="col-sm-4">
						 <p class="input-group"style="float:right">
							<input type="text" datepicker-popup="{{format}}"  data-ng-model="form.dt1" is-open="form.openedStart" min-date="form.minStart" max-date="false" datepicker-options="form.dateOptions" date-disabled="form.disabled(form.date, form.mode)" close-text="Close"
							class="form-control" />
							<span class="input-group-btn">
							   <button type="button" data-ng-click="form.openStart($event)" class="btn btn-default">
								  <em class="fa fa-calendar"></em>
							   </button>
							</span>
						 </p>
					</div>
				<!--button type="button" class="mr mb-sm btn btn-primary">Go</button-->
				
			</div>
		</div>
	</div>
	
	<div class="col-md-7" style="padding-left:0px;padding-right:15px"> 
		<div class="panel panel-default">
		<h4 class="panel-heading">Purchase</h4>
			<div class="panel-body">
				 <form method="get" action="/" novalidate="" class="form-horizontal">
					<fieldset>
					   <div class="form-group">
						  <label for="input-id-1" class="col-sm-3 control-label">Bill#</label>
						  <div class="col-sm-6">
							 <input id="input-id-1" type="text" placeholder="Bill Number" class="form-control" dir="rtl" />
						  </div>
					   </div>
					</fieldset>
					<fieldset>
						<div class="form-group">
						  <label for="input-id-1" class="col-sm-3 control-label">Vender Name</label>
						  <div class="col-sm-6">
							 <input id="input-id-1" type="text" placeholder="Vender Name(JS)" class="form-control" />
						  </div>
						  <label for="input-id-1" class="control-label"> <i ui-sref=""  class="fa fa-plus" style="font-size:20px;color:#17A1E5;" title="Add Account"> </i> </label>
					   </div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
	
	<div class="col-md-5" style="padding-left:15px;padding-right:0px"> 
		<div class="panel panel-default">
		<h4 class="panel-heading">History</h4>
			<div class="panel-body">
					
						<dl class="dl-horizontal">
						   <dt>Opening Balance:</dt>
						   <dd>250000</dd>
						   <dt>Current Balance:</dt>
						   <dd>3595400</dd>
						</dl>
						
						<button type="button" class="mr mb-sm btn btn-turquoise" style="float:right" >View History</button>
						
						<dl class="dl-horizontal" style="visibility:hidden">
							<button type="button" class="mr mb-sm btn btn-turquoise" style="float:right" >View History</button>
							<button type="button" class="mr mb-sm btn btn-turquoise" style="float:right" >View History</button>
							<button type="button" class="mr mb-sm btn btn-turquoise" style="float:right" >View History</button>
						</dl>
			</div>
		</div>
	</div>
     
	 <div class="col-md-12" style="padding-left:0px;padding-right:0px">
	<div class="panel panel-default">
     
			<table  class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="header" style="width:40%">Name of Item</th>
						<th class="header" style="width:25%">Discount</th>
						<th style="width:8%" >Rate</th>
						<th style="width:9%" >Quantity</th>
						<th style="width:10%" >Amount</th>
						<th style="width:8%">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr id="addAfter">
						<td>
							<!--input id="input-id-1" type="text" ng-model="itemName"  class="form-control" placeholder="Enter Item Name(JS)" style="width:95%;float:left"/>
							<i ui-sref=""  class="fa fa-plus" style="font-size:20px;color:#17A1E5;float:right" title="Add"> </i-->
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Enter Product Name(JS)" />
								<span class="input-group-btn">
								   <button type="button" class="btn btn-default"><i class="fa fa-plus" style="font-size:15px;color:#17A1E5;"></i></button>
								</span>
							</div>
						</td>
						<td>
							<select  ng-model="discountDropDown"  class="form-control" style="width:50%;float:left;">
								<option value="flat" selected="selected">Flat</option>
								<option value="percentage">Percentage</option>
							</select>
							<input id="input-id-1" type="text" ng-model="disName"  class="form-control" style="width:50%;" /> 
						</td>
						<td>5000</td>
						<td>
							<input id="input-id-1" type="text" ng-model="qtyName"  class="form-control"  /> 
						</td>
						<td >4500</td>
						<td style="">
						<center>
							<i ui-sref=""  class="fa fa-plus" style="font-size:20px;color:#17A1E5;" title="Add"> </i>
						</center>
						</td>
					</tr>
					<tr >
						<td>
							<div class="input-group">
							<input type="text" class="form-control" placeholder="Enter Product Name(JS)" />
							<span class="input-group-btn">
							   <button type="button" class="btn btn-default"><i class="fa fa-plus" style="font-size:15px;color:#17A1E5;"></i></button>
							</span>
						</div>
						</td>
						<td>
							<select  ng-model="discountDropDown"  class="form-control" style="width:50%;float:left;">
								<option value="flat" selected="selected">Flat</option>
								<option value="percentage">Percentage</option>
							</select>
							<input id="input-id-1" type="text" ng-model="disName"  class="form-control" style="width:50%;" /> 
						</td>
						<td>5000</td>
						<td>
							<input id="input-id-1" type="text" ng-model="qtyName2"  class="form-control"  />
						</td>
						<td >4500</td>
						<td style="">
						<center>
							<i ui-sref=""  class="fa fa-plus" style="font-size:20px;color:#17A1E5;" title="Add"> </i>
							&nbsp;
							<i ui-sref=""  class="fa fa-times" style="font-size:20px;color:red;" title="Delete"> </i>
						</center>
						</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Total</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Tax</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Grand Total</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		
	</div>
	</div>
	
		<textarea  name="address" ng-model="remark" placeholder="Remark" class="form-control ng-pristine ng-valid ng-touched"></textarea>
		<br />
		<div class="form-group">
			<label for="input-id-1" class="col-sm-1 control-label">Attachment</label>
			<div class="col-sm-6">
				<input type="file" />
			</div>
		</div>
			
			
		<button type="button" class="mr mb-sm btn btn-danger pull-right" data-ng-click="cancel()" >Cancel</button>
		<button type="button" class="mr mb-sm btn btn-success pull-right" ng-click="pop(addBranch)" >Save</button>
		
		
     
   <!-- END panel-->
</div>