
<h3>
   <small>
   <a ui-sref="app.dashboard" ><i class="fa fa-home"></i>Home</a> >> 
   Setting >> 
   Option</small>
</h3>
<!-- START panel-->
<div data-ng-controller="settingOptionController as form" class="row">
	<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
	<div class="col-md-12" >
		<div class="panel panel-primary">
			<div class="panel-heading"><i class="fa fa-barcode" ></i> Barcode </div>
			
			<div class="panel-body">
				 <form  action="#" name="formBarcode" class="form-validate form-horizontal">
					<div class="col-sm-12">
						<div class="col-sm-4">
							<fieldset class="my-fieldset-paddingBottom">
							   <div class="form-group">
								  <label for="input-id-1" class="col-sm-3 control-label">Height</label>
								  <div class="col-sm-8">
									 <input ng-model="barcodeData.height" id="input-id-1" type="text" placeholder="Height" class="form-control" dir="rtl" name="height" id="height"   ng-maxlength="5" ng-pattern="/^[0-9]+$/"  tabIndex="2" auto-focus  only-number />
									 
									<span ng-messages="formBarcode.height.$error" ng-if="formBarcode.height.$dirty || formBarcode.height.$touched" role="alert">
										<span ng-messages-include="errorRequired"></span>
										<span ng-messages-include="errorPatternNumber"></span>
										<span ng-messages-include="errorLonglength"></span>
										<span ng-messages-include="errorShortlength"></span>
									</span>
											
								  </div>
							   </div>
							</fieldset >
						</div>
						<div class="col-sm-4">
							<fieldset class="my-fieldset-paddingBottom">
							   <div class="form-group">
								  <label for="input-id-1" class="col-sm-3 control-label">Width</label>
								  <div class="col-sm-8">
									 <input ng-model="barcodeData.width" name="width" id="input-id-1" type="tel" placeholder="Work Number" class="form-control" dir="rtl"  ng-pattern="/^[0-9]+$/" ng-maxlength="5" tabIndex="2"  only-number />
									 
									<span ng-messages="formBarcode.width.$error" ng-if="formBarcode.width.$dirty || formBarcode.width.$touched" role="alert">
										<span ng-messages-include="errorRequired"></span>
										<span ng-messages-include="errorPatternNumber"></span>
										<span ng-messages-include="errorLonglength"></span>
										<span ng-messages-include="errorShortlength"></span>
									</span>
											
								  </div>
							   </div>
							</fieldset >
						</div>
						<div class="col-sm-4">
							<fieldset class="my-fieldset-paddingBottom">
							   <div class="form-group">
								   <button type="button" class="mr mb-sm btn btn-primary" tabIndex="3" onFocus="this.id=this.tabIndex;this.tabIndex=1" onBlur="this.tabIndex=this.id"  >Update</button>
							   </div>
							</fieldset>
						</div>
					</div>
				</form>
			</div>
				
		</div >
    </div>
	 
  
   <!-- END panel-->
</div>


<script type="text/ng-template" id="errorRequired">
	<span class="text-danger" ng-message="required">{{errorMessage.require}}</span>
</script>

<script type="text/ng-template" id="errorShortlength">
	<span class="text-danger" ng-message="minlength">{{errorMessage.shortLength}}</span>
</script>

<script type="text/ng-template" id="errorLonglength">
	<span class="text-danger" ng-message="maxlength">{{errorMessage.longLength}}</span>
</script>

<script type="text/ng-template" id="errorPatternNumber">
	<span class="text-danger" ng-message="pattern">{{errorMessage.Numbers}}</span>
</script>

<script type="text/ng-template" id="errorPatternThisSpecial">
	<span class="text-danger" ng-message="pattern">{{errorMessage.thisSpecialCharacterAndNumber}}</span>
</script>