<h3>
   <small>
   <a ui-sref="app.dashboard" ><i class="fa fa-home"></i>Home</a> >> 
   Accounting >>
   Receipt</small>
</h3>
<!-- START panel-->
<div data-ng-controller="AccReceiptController as form" class="container-fluid">
	<div class="panel panel-default">
		 <!--h4 class="panel-heading"></h4-->
		<div class="panel-body">
			<div class="form-group">
				<label class="col-sm-1 control-label"> Company </label>
					<div class="col-sm-4">
						<select chosen="" data-ng-model="addBranch.companyDropDown" data-ng-options="s.company_name for s in form.companyDrop track by s.company_id" class="form-control chosen-select"></select>
					</div>
				<label class="col-sm-1 control-label"> Date </label>
					<div class="col-sm-4">
						 <p class="input-group"style="float:right">
							<input type="text" datepicker-popup="{{format}}"  data-ng-model="form.dt1" is-open="form.openedStart" min-date="form.minStart" max-date="false" datepicker-options="form.dateOptions" date-disabled="form.disabled(form.date, form.mode)" close-text="Close"
							class="form-control" />
							<span class="input-group-btn">
							   <button type="button" data-ng-click="form.openStart($event)" class="btn btn-default">
								  <em class="fa fa-calendar"></em>
							   </button>
							</span>
						 </p>
					</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		 <!--h4 class="panel-heading"></h4-->
		<div class="panel-body">
			
		<form method="get" action="/" novalidate="" class="form-horizontal">
									
			<fieldset class="my-fieldset-paddingBottom">
			   <div class="form-group">
				  <label for="input-id-1" class="col-sm-2 control-label">Account</label>
				  <div class="col-sm-4">
					 <input typeahead="state for state in form.states | filter:$viewValue | limitTo:10" ng-model="AccountName" id="input-id-1" type="text" placeholder="Account(JS)" class="form-control" />
				  </div>
				  <div data-ng-controller="AccReceiptLedgerModalController">
					<label for="input-id-1" class="control-label"><i ui-sref=""  class="fa fa-plus" style="font-size:20px;color:#17A1E5;" title="Add Account" data-ng-click="open('lg')"> </i></label>
				  </div>
			  </div>
			</fieldset>
			<fieldset>
				<div class="form-group">
				  <label for="input-id-1" class="col-sm-2 control-label">Current Balance</label>
				  <div class="col-sm-6">
					 <h4>350000</h4>
				  </div>
			   </div>
			</fieldset>
		</form>
		</div>
	</div>
     
	<div class="col-md-12" style="padding-left:0px;padding-right:0px"> 
	<div class="panel panel-default">
			<table  class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="header" style="width:70%">Particulars</th>
						<th style="width:20%">Amount</th>
						<th style="width:10%">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr id="addAfter">
						<td>
							<div class="input-group">
								<input typeahead="state for state in form.states | filter:$viewValue | limitTo:10" ng-model="tableClientsName" type="text" class="form-control" placeholder="Enter Name(JS)" />
								<span class="input-group-btn" data-ng-controller="AccReceiptTableModalController">
								   <button type="button" class="btn btn-default" data-ng-click="open('lg')"><i class="fa fa-plus" style="font-size:15px;color:#17A1E5;"></i></button>
								</span>
							</div>
							<h5>Current Balance 205000 Dr/Cr</h5>
						</td>
						<td >
							<input id="input-id-1" type="text" ng-model="amount"  class="form-control"  />
							<h5 class="text-center" style="visibility:hidden">Current Balance 205000 Dr/Cr</h5>
						</td>
						<td style="">
							<center>
								<i ui-sref=""  class="fa fa-plus" style="font-size:20px;color:#17A1E5;" title="Add"> </i>
							</center>
						</td>
					</tr>
					<tr>
						<td>Total</td>
						<td colspan="2"></td>
					</tr>
					
				</tbody>
			</table>
		
	</div>
	</div>

	<textarea  name="address" ng-model="remark" placeholder="Remark" class="form-control ng-pristine ng-valid ng-touched"></textarea>
	<br />
	<button type="button" class="mr mb-sm btn btn-danger pull-right" data-ng-click="cancel()" >Cancel</button>
	<button type="button" class="mr mb-sm btn btn-success pull-right" ng-click="pop(addBranch)" >Save</button>
			
		
   <!-- END panel-->
</div>
<script type="text/ng-template" id="/myModalContent.html">
	<div class="modal-header">
		<button type="button" data-dismiss="modal" data-ng-click="cancel()" aria-hidden="true" class="close">×</button>  
		  <h4 id="myModalLabel" class="modal-title">Modal title</h4>
	</div>
	<div class="modal-body my-model-body">
		<center>
			<form method="get" action="/" novalidate="" class="form-horizontal">
				
				<fieldset class="my-fieldset-paddingBottom">
				   <div class="form-group">
					  <label class="col-sm-3 control-label">Name</label>
					  <div class="col-sm-8">
						 <input id="input-id-1" type="text" placeholder="Invoice Label" class="form-control" />
					  </div>
				   </div>
				</fieldset >
				<fieldset class="my-fieldset-paddingBottom">
				   <div class="form-group">
					  <label for="input-id-1" class="col-sm-3 control-label">Alias</label>
					  <div class="col-sm-8">
						 <input id="input-id-1" type="text" placeholder="Alias" class="form-control" />
					  </div>
				   </div>
				</fieldset>
				<fieldset class="my-fieldset-paddingBottom">
					<div class="form-group">
					  <label for="input-id-1" class="col-sm-3 control-label">Opening B/L</label>
					  <div class="col-sm-8">
						 <input id="input-id-1" type="text" placeholder="Opening B/L" class="form-control" dir="rtl" />
					  </div>
					</div>
				</fieldset>
				<fieldset class="my-fieldset-paddingBottom">
				   <div class="form-group">
					  <label for="input-id-1" class="col-sm-3 control-label">Under</label>
					  <div class="col-sm-8">
						 <input id="input-id-1" type="text" placeholder="Under" class="form-control" />
					  </div>
				   </div>
				</fieldset>
				<fieldset class="my-fieldset-paddingBottom">
				   <div class="form-group">
					  <label class="col-sm-3 control-label">Inventory Affected</label>
					  <div class="col-sm-8">
						 <select chosen data-ng-model="state"  class="form-control chosen-select">
							 <option value="yes">Yes</option>
							 <option value="no">No</option>
						 </select>
					  </div>
				   </div>
				</fieldset>
				<fieldset class="my-fieldset-paddingBottom">
					<div class="form-group">
						<label for="input-id-1" class="col-sm-3 control-label">First Address</label>
						<div class="col-sm-8">
							<textarea  name="address" ng-model="addBranch.fisrtAddress" placeholder="Your First address"  class="form-control ng-pristine ng-valid ng-touched"></textarea>
						</div>
					</div>
				</fieldset>
				<fieldset class="my-fieldset-paddingBottom">
					<div class="form-group">
						<label for="input-id-1" class="col-sm-3 control-label">Second Address</label>
						<div class="col-sm-8">
							<textarea  name="address" ng-model="addBranch.secondAddress" placeholder="Your Second address" class="form-control ng-pristine ng-valid ng-touched"></textarea>
						</div>
					</div>
				</fieldset>
				<fieldset class="my-fieldset-paddingBottom">
				   <div class="form-group">
					  <label class="col-sm-3 control-label">State</label>
					  <div class="col-sm-7">
						 <select chosen="" ng-model="addBranch.stateDropDown" data-ng-options="s.state_name for s in form.statesDrop track by s.state_abb" class="form-control chosen-select" ng-change="ChangeCity(addBranch.stateDropDown.state_abb)" ></select>
					  </div>
				   </div>
				</fieldset>
				<fieldset class="my-fieldset-paddingBottom">
				   <div class="form-group">
					  <label class="col-sm-3 control-label">City</label>
					  <div class="col-sm-7">
						 <select chosen="" ng-model="addBranch.cityDropDown" data-ng-options="s.city_name for s in form.cityDrop track by s.city_id" class="form-control chosen-select"></select>
					  </div>
				   </div>
				</fieldset>
				<fieldset class="my-fieldset-paddingBottom">
				   <div class="form-group">
					  <label for="input-id-1" class="col-sm-3 control-label">TIN</label>
					  <div class="col-sm-7">
						 <input id="input-id-1" masked="9999999999" type="text" placeholder="TIN Number" class="form-control"  />
					  </div>
					</div>
				</fieldset> 
				<fieldset class="my-fieldset-paddingBottom">
				   <div class="form-group">
					   <label for="input-id-1" class="col-sm-3 control-label">PAN</label>
					  <div class="col-sm-7">
						 <input id="input-id-1" masked="" type="text" placeholder="PAN Number" class="form-control" dir="rtl" />
					  </div>
				   </div>
				</fieldset>
				<fieldset class="my-fieldset-paddingBottom">
				   <div class="form-group">
					   <label for="input-id-1" class="col-sm-3 control-label">GST</label>
					  <div class="col-sm-7">
						 <input id="input-id-1" masked="" type="text" placeholder="GST Number" class="form-control"  dir="rtl" />
					  </div>
					  
				   </div>
				</fieldset>
			
				<button type="button" class="mr mb-sm btn btn-danger pull-right" ng-click="clickSave()">Cancel</button>
				<button type="button" class="mr mb-sm btn btn-success pull-right" ng-click="clickSave()">Save</button>
			</form>
		</center>
	</div>
</script>
<script type="text/ng-template" id="/myTableModalContent.html">
	<div class="modal-header">
		<button type="button" data-dismiss="modal" data-ng-click="cancel()" aria-hidden="true" class="close">×</button>  
		  <h4 id="myModalLabel" class="modal-title">Modal title</h4>
	</div>
	<div class="modal-body my-model-body">
		<center>
			<form method="get" action="/" novalidate="" class="form-horizontal">
				
				<fieldset class="my-fieldset-paddingBottom">
				   <div class="form-group">
					  <label class="col-sm-3 control-label">Name</label>
					  <div class="col-sm-8">
						 <input id="input-id-1" type="text" placeholder="Invoice Label" class="form-control" />
					  </div>
				   </div>
				</fieldset >
				<fieldset class="my-fieldset-paddingBottom">
				   <div class="form-group">
					  <label for="input-id-1" class="col-sm-3 control-label">Alias</label>
					  <div class="col-sm-8">
						 <input id="input-id-1" type="text" placeholder="Alias" class="form-control" />
					  </div>
				   </div>
				</fieldset>
				<fieldset class="my-fieldset-paddingBottom">
					<div class="form-group">
					  <label for="input-id-1" class="col-sm-3 control-label">Opening B/L</label>
					  <div class="col-sm-8">
						 <input id="input-id-1" type="text" placeholder="Opening B/L" class="form-control" dir="rtl" />
					  </div>
					</div>
				</fieldset>
				<fieldset class="my-fieldset-paddingBottom">
				   <div class="form-group">
					  <label for="input-id-1" class="col-sm-3 control-label">Under</label>
					  <div class="col-sm-8">
						 <input id="input-id-1" type="text" placeholder="Under" class="form-control" />
					  </div>
				   </div>
				</fieldset>
				<fieldset class="my-fieldset-paddingBottom">
				   <div class="form-group">
					  <label class="col-sm-3 control-label">Inventory Affected</label>
					  <div class="col-sm-8">
						 <select chosen data-ng-model="state"  class="form-control chosen-select">
							 <option value="yes">Yes</option>
							 <option value="no">No</option>
						 </select>
					  </div>
				   </div>
				</fieldset>
				<fieldset class="my-fieldset-paddingBottom">
					<div class="form-group">
						<label for="input-id-1" class="col-sm-3 control-label">First Address</label>
						<div class="col-sm-8">
							<textarea  name="address" ng-model="addBranch.fisrtAddress" placeholder="Your First address"  class="form-control ng-pristine ng-valid ng-touched"></textarea>
						</div>
					</div>
				</fieldset>
				<fieldset class="my-fieldset-paddingBottom">
					<div class="form-group">
						<label for="input-id-1" class="col-sm-3 control-label">Second Address</label>
						<div class="col-sm-8">
							<textarea  name="address" ng-model="addBranch.secondAddress" placeholder="Your Second address" class="form-control ng-pristine ng-valid ng-touched"></textarea>
						</div>
					</div>
				</fieldset>
				<fieldset class="my-fieldset-paddingBottom">
				   <div class="form-group">
					  <label class="col-sm-3 control-label">State</label>
					  <div class="col-sm-7">
						 <select chosen="" ng-model="addBranch.stateDropDown" data-ng-options="s.state_name for s in form.statesDrop track by s.state_abb" class="form-control chosen-select" ng-change="ChangeCity(addBranch.stateDropDown.state_abb)" ></select>
					  </div>
				   </div>
				</fieldset>
				<fieldset class="my-fieldset-paddingBottom">
				   <div class="form-group">
					  <label class="col-sm-3 control-label">City</label>
					  <div class="col-sm-7">
						 <select chosen="" ng-model="addBranch.cityDropDown" data-ng-options="s.city_name for s in form.cityDrop track by s.city_id" class="form-control chosen-select"></select>
					  </div>
				   </div>
				</fieldset>
				<fieldset class="my-fieldset-paddingBottom">
				   <div class="form-group">
					  <label for="input-id-1" class="col-sm-3 control-label">TIN</label>
					  <div class="col-sm-7">
						 <input id="input-id-1" masked="9999999999" type="text" placeholder="TIN Number" class="form-control"  />
					  </div>
					</div>
				</fieldset> 
				<fieldset class="my-fieldset-paddingBottom">
				   <div class="form-group">
					   <label for="input-id-1" class="col-sm-3 control-label">PAN</label>
					  <div class="col-sm-7">
						 <input id="input-id-1" masked="" type="text" placeholder="PAN Number" class="form-control" dir="rtl" />
					  </div>
				   </div>
				</fieldset>
				<fieldset class="my-fieldset-paddingBottom">
				   <div class="form-group">
					   <label for="input-id-1" class="col-sm-3 control-label">GST</label>
					  <div class="col-sm-7">
						 <input id="input-id-1" masked="" type="text" placeholder="GST Number" class="form-control"  dir="rtl" />
					  </div>
					  
				   </div>
				</fieldset>
			
				<button type="button" class="mr mb-sm btn btn-danger pull-right" ng-click="clickSave()">Cancel</button>
				<button type="button" class="mr mb-sm btn btn-success pull-right" ng-click="clickSave()">Save</button>
			</form>
		</center>
	</div>
</script>