<h3>
   <small>
   <a ui-sref="app.dashboard" ><i class="fa fa-home"></i>Home</a> >> 
   <a ui-sref="app.Branch" >Branch</a> >> 
   Add New Branch</small>
</h3>
<!-- START panel-->

<div data-ng-controller="AddBranchController as form" class="container-fluid panel-body">
 <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
	<div class="panel panel-default" ng-show="AddBranchModify">
		 <!--h4 class="panel-heading"></h4-->
		<div class="panel-body">
			<div class="form-group">
			
				<label class="col-sm-1 control-label"> Company </label>
					<div class="col-sm-4">
						<select chosen="" data-ng-model="addBranch.companyDropDown" data-ng-options="s.companyName for s in form.companyDrop track by s.companyId" class="form-control chosen-select"></select>
					</div>
					
				<label class="col-sm-1 control-label"> Branch </label>
					<div class="col-sm-4">
						<select chosen="" data-ng-model="addBranch.branchDropDown" data-ng-options="s.branchName for s in form.branchDrop track by s.branchId" class="form-control chosen-select"></select>
					</div>
					
				<button type="button" class="mr mb-sm btn btn-primary">Go</button>
				
			</div>
		</div>
	</div>
   <div class="panel panel-default">
      <h4 class="panel-heading">Basic Details</h4>
      <div class="panel-body">
         <form  novalidate="" class="form-horizontal">
			
            <fieldset>
               <div class="form-group">
                  <label class="col-sm-2 control-label">Company</label>
                  <div class="col-sm-5">
                     <select chosen=""  ng-model="addBranch.companyDropDown2" ng-change="changeBranchData('companyId',addBranch.companyDropDown2.companyId)" ng-options="s.companyName for s in form.companyDrop track by s.companyId" class="form-control chosen-select" ></select>
                  </div>
               </div>
			</fieldset>
			<fieldset>
				<div class="form-group">
                  <label for="input-id-1" class="col-sm-2 control-label">Branch Name</label>
                  <div class="col-sm-7">
                     <input id="input-id-1" type="text" ng-model="addBranch.branchName" ng-change="changeBranchData('branchName',addBranch.branchName)" placeholder="Branch Name" class="form-control" />
                  </div>
               </div>
			</fieldset>
			<fieldset>
				<div class="form-group">
					<label for="input-id-1" class="col-sm-2 control-label">First Address</label>
					<div class="col-sm-7">
						<textarea  name="address" ng-model="addBranch.fisrtAddress" ng-change="changeBranchData('address1',addBranch.fisrtAddress)" placeholder="Your First address"  class="form-control ng-pristine ng-valid ng-touched"></textarea>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<div class="form-group">
					<label for="input-id-1" class="col-sm-2 control-label">Second Address</label>
					<div class="col-sm-7">
						<textarea  name="address" ng-model="addBranch.secondAddress" ng-change="changeBranchData('address2',addBranch.secondAddress)" placeholder="Your Second address" class="form-control ng-pristine ng-valid ng-touched"></textarea>
					</div>
				</div>
			</fieldset>
			<fieldset>
               <div class="form-group">
                  <label class="col-sm-2 control-label">State</label>
                  <div class="col-sm-5">
                     <select chosen="" ng-model="addBranch.stateDropDown" data-ng-options="s.stateName for s in form.statesDrop track by s.stateAbb" class="form-control chosen-select" ng-change="ChangeCity('stateAbb',addBranch.stateDropDown.stateAbb)" ></select>
                  </div>
               </div>
			</fieldset>
			<fieldset>
               <div class="form-group">
                  <label class="col-sm-2 control-label">City</label>
                  <div class="col-sm-5">
                     <select chosen="" ng-model="addBranch.cityDropDown" ng-change="changeBranchData('cityId',addBranch.cityDropDown.cityId)" data-ng-options="s.cityName for s in form.cityDrop track by s.cityId" class="form-control chosen-select"></select>
                  </div>
               </div>
			</fieldset>
			<fieldset>
				<div class="form-group">
					<label class="col-sm-2 control-label">PIN Code</label>
					<div class="col-sm-3">
					   <input type="text" ng-model="addBranch.pincode" ng-change="changeBranchData('pincode',addBranch.pincode)" masked="999999" placeholder="PIN Code" class="form-control" />
					   <span class="help-block">Masked="395001"</span>
					</div>
				</div>
			</fieldset>
			
			 <button type="button" class="mr mb-sm btn btn-danger pull-right" data-ng-click="cancel()" >Cancel</button>
			 <button type="button" class="mr mb-sm btn btn-success pull-right" ng-click="pop(addBranch)" >Save</button>
         </form>
      </div>
   </div>
  
   
   <!-- END panel-->
</div>