<h3>
	
   <small><a ui-sref="app.dashboard" ><i class="fa fa-home"></i>Home</a> >> Profit & Loss</small>
  
</h3>
<div   class="container-fluid" >
	<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true,'time-out': 10000}"></toaster-container>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="col-md-8">
			
				<label class="col-sm-2 control-label"> Company </label>
					<div class="col-sm-10">
						<select chosen=""  ng-model="stateCheck" ng-options="s.companyName for s in table.states track by s.companyId" class="form-control chosen-select" >
						
						</select>
					</div>
			</div>
			<div class="col-md-1 myPaddingTop">
				<div class="col-sm-12">
					<button type="button" class="mb-sm btn btn-primary pull-right"  ng-click="showBranches()" data-ng-class="app.theme.brand" >Go</button>
				</div>
			</div>
			<div class="col-sm-3">
			</div>
		</div>
	</div>
</div>
	<!-- First -->
   <div class="panel panel-default" ng-show="firstLayout">
      <div class="panel-heading myHeading" >
         <!--button data-ng-click="table.tableParams.sorting({})" class="pull-right btn btn-default btn-sm">Clear sorting</button-->
		
		  <!--a  class="btn btn-sm btn-labeled btn-primary pull-right" ng-click="changeLayout()" >
               <span class="btn-label"><i class="icon icon-layout"></i>
               </span>Change Layout</a-->
			   <i class="material-icons pull-right myCursorPointer"  ng-click="oneSide()" style="color:#43a8eb;" >&#xE8F3;</i>
			 <i class="material-icons pull-right myCursorPointer"  ng-click="twoSide()" style="margin-right: 5px;color:#43a8eb;" >&#xE8EF;</i>
		 <a ng-click="generatePdf('pdf')" class="pull-right btn btn-sm btn-primary" style="margin-right: 5px;" data-ng-class="app.theme.brand" >Generate Pdf</a> 
		 <a  ng-click="generatePdf('excel')" class="pull-right btn btn-sm btn-primary" style="margin-right: 5px;" data-ng-class="app.theme.brand" >Export to Excel</a>
		 
		  
         <div class="panel-title"><b>Profit & Loss of  <i>{{displayCompany}} </i> Company of <i> {{displayDate | date: dateFormat}} </i> </b></div>
      </div>
	   <div class="table-responsive">
		  <table  export-csv="csv"    class="table table-bordered table-striped" >
		  <!--input type="text" class="input-filter form-control fa fa-search" ng-model="query" placeholder="SEARCH FOR ANY KIND OF DETAIL"/-->
			<div class="input-group m-b"> 
				<span class="input-group-addon"><i class="fa fa-search" ></i></span>
				<input tabindex="1" ng-model="query" type="text" class="form-control" placeholder="Search" />
			</div>
			<thead >
				<th>Ledger Name</th>
				<th>Income</th>
				<th>Expence</th>
			</thead>
			 <tbody  >
				<tr data-ng-repeat="user in myArrayData | filter:query track by $index" >
				
					<td ><a class="myCursorPointer" ng-click="goToLedgerTransaction(user.ledgerId)"  style="text-transform:capitalize"  href="" tabindex="2" ng-bind="::user.ledgerName"></a></td>
					<td   style="text-align:right" header-class="text-center" ng-bind="::user.creditAmount  | number: noOfDecimalPoints"></td>
					<td   style="text-align:right" header-class="text-center" ng-bind="::user.debitAmount  | number: noOfDecimalPoints"></td>
					
				</tr>
			 </tbody>
			 <tfoot>
				<tr>
					<td><b>Total</b></td>
					<td style="text-align:right"><b ng-bind="TotalofCredit | number: noOfDecimalPoints"></b></td>
					<td style="text-align:right"><b ng-bind="TotalofDebit | number: noOfDecimalPoints"></b></td>
				</tr>
				<tr>
					<td><b>Diffrence</b></td>
					<td style="text-align:right"><b ng-if="TotalofDebit < TotalofCredit"  ng-bind="TotalofCredit - TotalofDebit | number: noOfDecimalPoints" ></b></td>
					<td style="text-align:right" ><b ng-if="TotalofDebit > TotalofCredit" ng-bind="TotalofDebit - TotalofCredit | number: noOfDecimalPoints" ></b></td>
					
				</tr>
			 </tfoot>
			 
		  </table>
		</div>
   </div>
   
   <!-- Second -->
   
    <div class="panel panel-default" ng-show="secondLayout">
      <div class="panel-heading myHeading" >
         <!--button data-ng-click="table.tableParams.sorting({})" class="pull-right btn btn-default btn-sm">Clear sorting</button-->
		
		  <!--a  class="btn btn-sm btn-labeled btn-primary pull-right" ng-click="changeLayout()" >
               <span class="btn-label"><i class="icon icon-layout"></i>
               </span>Change Layout</a-->
			   <i class="material-icons pull-right myCursorPointer"  ng-click="oneSide()" style="color:#43a8eb;" >&#xE8F3;</i>
			 <i class="material-icons pull-right myCursorPointer" ng-click="twoSide()" style="margin-right: 5px;color:#43a8eb;" >&#xE8EF;</i>
		 <a ng-click="generatePdf('twoSidePdf')" class="pull-right btn btn-sm btn-primary" style="margin-right: 5px;">Generate Pdf</a> 
		 <a  ng-click="generatePdf('twoSideExcel')" class="pull-right btn btn-sm btn-primary" style="margin-right: 5px;">Export to Excel</a>
		 
		  
         <div class="panel-title"><b>Profit & Loss of  <i>{{displayCompany}} </i> Company of <i> {{displayDate | date: dateFormat}} </i> </b></div>
      </div>
	   <div class="table-responsive">
		  <table  export-csv="csv" class="table table-bordered table-striped" >
		  <!--input type="text" class="input-filter form-control fa fa-search" ng-model="query" placeholder="SEARCH FOR ANY KIND OF DETAIL"/-->
			<div class="input-group m-b"> 
				<span class="input-group-addon"><i class="fa fa-search" ></i></span>
				<input tabindex="1" ng-model="query" type="text" class="form-control" placeholder="Search" />
			</div>
			<thead >
				<th>Ledger Name</th>
				<th>Income</th>
				<th>Ledger Name</th>
				<th>Expence</th>
			</thead>
			 <tbody  >
				<tr data-ng-repeat="user in mySecondArrayData | filter:query track by $index" >
				
					<td ><a class="myCursorPointer" ng-click="goToLedgerTransaction(user[0].ledgerId)"  style="text-transform:capitalize" href="" tabindex="2"  ng-bind="::user[0].ledgerName"></a></td>
					<td style="text-align:right" header-class="text-center" ng-bind="::user[0].creditAmount  | number: noOfDecimalPoints"></td>
					
					<td ><a class="myCursorPointer" ng-click="goToLedgerTransaction(user[1].ledgerId)" style="text-transform:capitalize" href=""  tabindex="2" ng-bind="::user[1].ledgerName"></a></td>
					<td style="text-align:right" header-class="text-center" ng-bind="::user[1].debitAmount  | number: noOfDecimalPoints"></td>
					
				</tr>
			 </tbody>

			 <tfoot>
				<tr>
					<td><b>Total of Incomes</b></td>
					<td style="text-align:right"><b ng-bind="TotalofCredit | number: noOfDecimalPoints"></b></td>
					<td><b>Total of Expenses</b></td>
					<td style="text-align:right"><b ng-bind="TotalofDebit | number: noOfDecimalPoints"></b></td>
				</tr>
				<tr>
					<td><b>Diffrence</b></td>
					<td style="text-align:right"><b ng-if="TotalofDebit < TotalofCredit"  ng-bind="TotalofCredit - TotalofDebit | number: noOfDecimalPoints"></b></td>
					<td><b>Diffrence</b></td>
					<td style="text-align:right" ><b ng-if="TotalofDebit > TotalofCredit" ng-bind="TotalofDebit - TotalofCredit | number: noOfDecimalPoints"></b></td>
					
				</tr>
			 </tfoot>
		  </table>
	  </div>
   </div>
   
</div>