<h3>
	<small>
   <a ui-sref="app.dashboard" ><i class="fa fa-home"></i>Home</a> >> 
   Sales >> 
   View Data Sales</small>
</h3>
<div   class="container-fluid" >
	<div id="panelDemo14" class="panel panel-default">
         <div class="panel-heading">Basic Tabs</div>
         <div class="panel-body">
            <tabset>
               <tab heading="Table">
				
				<table data-ng-table="table.tableParams"  show-filter="false" class="table table-bordered table-striped">
					<!--input type="text" class="input-filter form-control fa fa-search" ng-model="query" placeholder="SEARCH FOR ANY KIND OF DETAIL"/-->
					 <tbody>
						<tr data-ng-repeat="user in $data">
						<td data-title="'Sr. No.'"  >{{$index+1}}</td>
							<td data-title="'Date'" sortable="'date'" filter="{ 'date': 'text' }" >{{user.createdAt}}</td>
							<td data-title="'Perticular'" sortable="'branchName'" filter="{ 'branchName': 'text' }" >{{user.branchName}}</td>
							<td data-title="'Amount'" sortable="'amount'" filter="{ 'amount': 'text' }" >{{user.pincode}}</td>
						   <td data-title="'Action'" sortable="'action'">
								<center>
									<i ui-sref="" ng-click="edit_comp(user.branchId)" class="fa fa-edit" style="font-size:17px;color:#10709f"> </i> &nbsp; &nbsp;
									<i ui-sref="" ng-click="delete_comp(user.branchId)" class="fa fa-times-circle" style="font-size:17px;color:red"></i>
								</center>
							</td>
						</tr>
					 </tbody>
				</table>
			   
			   </tab>
				  
               <tab heading="Chart">
					<div class="row">
					  <div class="col-lg-6">
						 <div class="panel panel-transparent">
							<div class="panel-heading">
							   <div class="panel-title">Pie</div>
							</div>
							<div class="panel-wrapper">
							   <div class="panel-body">
								  <flot src="'server/chart/pie.json'" options="table.chartPieFlotChart"></flot>
							   </div>
							</div>
						 </div>
					  </div>
					<div class="col-lg-6">
         <div class="panel panel-default">
            <div class="panel-heading">
               <div class="panel-title">Area</div>
            </div>
            <div class="panel-wrapper">
               <div class="panel-body">
                  <flot src="'server/chart/area.json'" options="table.chartAreaFlotChart" series="{'lines': areaSeries}"></flot>
                  <div class="text-center mt-lg">
                     <div class="btn-switch mb btn-switch-warning">
                        <input type="checkbox" id="input-btn-switch-10" data-ng-model="areaSeries[0]" />
                        <label for="input-btn-switch-10" class="btn btn-fw btn-warning">
                           <em class="fa fa-check"></em>
                           <strong>HTML</strong>
                        </label>
                     </div>
                     <div class="btn-switch mb btn-switch-orange">
                        <input type="checkbox" id="input-btn-switch-11" data-ng-model="areaSeries[1]" />
                        <label for="input-btn-switch-11" class="btn btn-fw btn-orange">
                           <em class="fa fa-check"></em>
                           <strong>CSS</strong>
                        </label>
                     </div>
                     <div class="btn-switch mb btn-switch-danger">
                        <input type="checkbox" id="input-btn-switch-12" data-ng-model="areaSeries[2]" />
                        <label for="input-btn-switch-12" class="btn btn-fw btn-danger">
                           <em class="fa fa-check"></em>
                           <strong>JS</strong>
                        </label>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
					 </div>
					 
  
			   </tab>
            </tabset>
         </div>
    </div>
   
</div>