<h3>
   <small>
   <a ui-sref="app.dashboard" ><i class="fa fa-home"></i>Home</a> >> 
   Accounting >>
   Sales</small>
</h3>
<!-- START panel-->
<div data-ng-controller="AccSalesController as form" class="container-fluid">
	<div class="panel panel-default">
		 <!--h4 class="panel-heading"></h4-->
		<div class="panel-body">
			<div class="form-group">
				<label class="col-sm-1 control-label"> Company </label>
					<div class="col-sm-4">
						<select chosen="" data-ng-model="addBranch.companyDropDown" data-ng-options="s.company_name for s in form.companyDrop track by s.company_id" class="form-control chosen-select"></select>
					</div>
				<label class="col-sm-1 control-label"> Date </label>
					<div class="col-sm-4">
						 <p class="input-group"style="float:right">
							<input type="text" datepicker-popup="{{format}}"  data-ng-model="form.dt1" is-open="form.openedStart" min-date="form.minStart" max-date="false" datepicker-options="form.dateOptions" date-disabled="form.disabled(form.date, form.mode)" close-text="Close"
							class="form-control" />
							<span class="input-group-btn">
							   <button type="button" data-ng-click="form.openStart($event)" class="btn btn-default">
								  <em class="fa fa-calendar"></em>
							   </button>
							</span>
						 </p>
					</div>
			</div>
		</div>
	</div>
	
	<div class="panel panel-default">
      <h4 class="panel-heading">Sales</h4>
      <div class="panel-body">
         <form method="get" action="/" novalidate="" class="form-horizontal">
			<div class="col-md-7">
            <fieldset>
               <div class="form-group">
                  <label for="input-id-1" class="col-sm-3 control-label">Invoice#</label>
                  <div class="col-sm-6">
                     <input id="input-id-1" type="text" placeholder="Invoice Number" class="form-control" />
                  </div>
               </div>
            </fieldset>
			<fieldset>
				<div class="form-group">
                  <label for="input-id-1" class="col-sm-3 control-label">Client Name</label>
                  <div class="col-sm-6">
                     <input id="input-id-1" type="text" placeholder="Client Name(JS)" class="form-control" />
                  </div>
               </div>
			</fieldset>
			</div>
			<div class="col-md-5">
				<dl class="dl-horizontal">
				   <dt>Opening Balance:</dt>
				   <dd>250000</dd>
				   <dt>Current Balance:</dt>
				   <dd>3595400</dd>
				</dl>
				 
				<button type="button" class="mr mb-sm btn btn-turquoise" style="float:right">View History</button>
				
			</div>
         </form>
		 </div>
	</div>
	<div class="panel panel-default">
      <h4 class="panel-heading">Table</h4>
			<table  class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="header">Name of Item</th>
						<th class="header">Discount</th>
						<th>Rate</th>
						<th>Quantity</th>
						<th>Amount</th>
						<th>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr id="addAfter">
						<td><input id="input-id-1" type="text" ng-model="itemName"  class="form-control" placeholder="Enter Item Name(JS)" /></td>
						<td>
							<select  ng-model="discountDropDown"  class="form-control" style="width:40%;float:left;">
								<option value="flat" selected="selected">Flat</option>
								<option value="percentage">Percentage</option>
							</select>
							<input id="input-id-1" type="text" ng-model="disName"  class="form-control" style="width:30%;" /> 
						</td>
						<td>5000</td>
						<td>
							<select  ng-model="qtyDropDown1"  class="form-control" >
									<option value="flat" selected="selected">1</option>
									<option value="percentage">2</option>
							</select>
						</td>
						<td >4500</td>
						<td style="">
						<center>
							<i ui-sref="" ng-click="" class="fa icon-square-plus" style="font-size:20px;color:blue" title="Add"></i>
						</center>
						</td>
					</tr>
					<tr >
						<td><input id="input-id-1" type="text" ng-model="itemName"  class="form-control" placeholder="Enter Item Name(JS)" /></td>
						<td>
							<select  ng-model="discountDropDown"  class="form-control" style="width:40%;float:left;">
								<option value="flat" selected="selected">Flat</option>
								<option value="percentage">Percentage</option>
							</select>
							<input id="input-id-1" type="text" ng-model="disName"  class="form-control" style="width:30%;" /> 
						</td>
						<td>5000</td>
						<td>
							<select  ng-model="qtyDropDown2"  class="form-control" >
									<option value="flat" selected="selected">1</option>
									<option value="percentage">2</option>
							</select>
						</td>
						<td >4500</td>
						<td style="">
						<center>
							<i ui-sref="" ng-click="" class="fa icon-square-plus" style="font-size:20px;color:blue" title="Add"></i>
							<i ui-sref="" ng-click="" class="fa icon-square-cross" style="font-size:20px;color:red" title="Delete"></i>
						</center>
						</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Total</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Tax</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Grand Total</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		
	</div>
	<div class="panel panel-default">
      <h4 class="panel-heading">Remark</h4>
      <div class="panel-body">
		<div class="col-md-12">
			<fieldset>
					<div class="form-group">
						<label for="input-id-1" class="col-sm-1 control-label">Remark</label>
						<div class="col-sm-9">
							<textarea  name="address" ng-model="remark" placeholder="Remark" class="form-control ng-pristine ng-valid ng-touched"></textarea>
						</div>
					</div>
			</fieldset>
			
			<button type="button" class="mr mb-sm btn btn-danger pull-right" data-ng-click="cancel()" >Cancel</button>
				 <button type="button" class="mr mb-sm btn btn-success pull-right" ng-click="pop(addBranch)" >Save</button>
		</div>
	</div>
	</div>
		
     
   <!-- END panel-->
</div>