<h3>
   <small>
   <a ui-sref="app.dashboard" ><i class="fa fa-home"></i>Home</a> >> 
   Accounting >>
   Ledger </small>
</h3>
<!-- START panel-->
<div data-ng-controller="AccLedgerController as form" class="container-fluid">
	
<div class="col-md-9" style="padding-left:0px">
	<div class="panel panel-default" ng-show="alertData">
		<div class="panel-body">
			<div class="alert alert-info" style="background-color:#17A1E5 !important;">
				<i class="fa fa-exclamation-triangle"></i> &nbsp; <b>Select Ledger</b>
			</div>
			<!-- Not Visible -->
			<div class="alert alert-info" style="visibility:hidden">
				Select Ledger
			</div>
			<div class="alert alert-info" style="visibility:hidden">
				Select Ledger
			</div>
			<!-- END -->
		</div>
	</div>
   <div class="panel panel-default" ng-show="trueData">
      <h4 class="panel-heading">Basic Details</h4>
      <div class="panel-body">
		<form method="get" action="/" novalidate="" class="form-horizontal" >
				<fieldset class="my-fieldset-paddingBottom">
				   <div class="form-group">
					  <label class="col-sm-3 control-label">Company</label>
					  <div class="col-sm-8">
						 <select chosen="" ng-model="ledgerForm.companyDropDown" tabindex="2" data-ng-options="s.companyName for s in form.companyDrop track by s.companyId" ng-change="changeLedgerData('companyId',ledgerForm.companyDropDown.companyId)" ng-disabled="form.disableValue"  class="form-control chosen-select" ></select>
					  </div>
				   </div>
				</fieldset>
				<fieldset class="my-fieldset-paddingBottom">
				   <div class="form-group">
					  <label class="col-sm-3 control-label">Name</label>
					  <div class="col-sm-8">
						 <input id="input-id-1" tabindex="2" ng-model="ledgerForm.ledgerName" ng-change="changeLedgerData('ledgerName',ledgerForm.ledgerName)" ng-disabled="form.disableValue" type="text" placeholder="Ledger Name" class="form-control" />
					  </div>
				   </div>
				</fieldset >
				<fieldset class="my-fieldset-paddingBottom">
				   <div class="form-group">
					  <label for="input-id-1" class="col-sm-3 control-label">Email ID</label>
						<div class="col-sm-8">
							<div class="input-group m-b">
								<span class="input-group-addon">@</span>
								<input type="text" tabindex="2" ng-model="ledgerForm.emailId" ng-change="changeLedgerData('emailId',ledgerForm.emailId)" ng-disabled="form.disableValue" placeholder="Email ID" class="form-control" />
							</div>
						</div>
				   </div>
				</fieldset>
				<fieldset class="my-fieldset-paddingBottom">
				   <div class="form-group">
					  <label for="input-id-1" class="col-sm-3 control-label">Alias</label>
					  <div class="col-sm-8">
						 <input ng-model="ledgerForm.alias" tabindex="2" ng-change="changeLedgerData('alias',ledgerForm.alias)" id="input-id-1" type="text" ng-disabled="form.disableValue" placeholder="Alias" class="form-control" />
					  </div>
				   </div>
				</fieldset>
				<fieldset class="my-fieldset-paddingBottom">
					<div class="form-group">
					  <label for="input-id-1" class="col-sm-3 control-label">Opening B/L</label>
					  <div class="col-sm-2">
						 <select chosen data-ng-model="ledgerForm.amountType" tabindex="2" data-ng-options="s for s in form.amountTypeDrop" ng-change="changeLedgerData('amountType',ledgerForm.amountType)" ng-disabled="form.disableValue"  class="form-control chosen-select" >
						 <option value=""></option>
						</select>
						</div>
						<div class="col-sm-6">
						 <input ng-model="ledgerForm.openingBal" tabindex="2" ng-change="changeLedgerData('amount',ledgerForm.openingBal)" ng-disabled="form.disableValue" id="input-id-1" ng-disabled="form.disableValue" type="text" placeholder="Opening B/L" class="form-control" dir="rtl" />
					  </div>
				    </div>
				</fieldset>
		</form>
      </div>
	   <h4 class="panel-heading">Additional Details</h4>
      <div class="panel-body">
		<form method="get" action="/" novalidate="" class="form-horizontal">
			<fieldset class="my-fieldset-paddingBottom">
			   <div class="form-group">
				  <label for="input-id-1" class="col-sm-3 control-label">Under</label>
				  <div class="col-sm-8">
					 <input ng-model="ledgerForm.under" tabindex="2"  typeahead="state.ledgerGroupName for state in form.underWhat | filter:$viewValue | limitTo:10" typeahead-on-select="setPcode('ledgerGroupId',$item)" ng-model="selected" ng-disabled="form.disableValue" id="input-id-1" type="text" placeholder="Under" class="form-control autocomplete" />
				  </div>
			   </div>
			</fieldset>
			<fieldset class="my-fieldset-paddingBottom">
			   <div class="form-group">
				  <label class="col-sm-3 control-label">Inventory Affected</label>
				  <div class="col-sm-8">
					 <select chosen data-ng-model="ledgerForm.invAffect" tabindex="2" data-ng-options="s for s in form.invAffectDrop" ng-change="changeLedgerData('inventoryAffected',ledgerForm.invAffect)" ng-disabled="form.disableValue"  class="form-control chosen-select">
						 <option value=""></option>
					 </select>
				  </div>
			   </div>
			</fieldset>
		</form>
	  </div>
	  
	  <h4 class="panel-heading">Address/Contact</h4>
      <div class="panel-body">
		<form method="get" action="/" novalidate="" class="form-horizontal">
			<fieldset class="my-fieldset-paddingBottom">
			   <div class="form-group">
				  <label class="col-sm-3 control-label">Contact#</label>
				  <div class="col-sm-8">
					 <input id="input-id-1" tabindex="2" ng-model="ledgerForm.contact" ng-change="changeLedgerData('contactNo',ledgerForm.contact)" ng-disabled="form.disableValue" type="text" placeholder="Contact Number" class="form-control" />
				  </div>
			   </div>
			</fieldset >
			<fieldset class="my-fieldset-paddingBottom">
				<div class="form-group">
					<label for="input-id-1" class="col-sm-3 control-label">First Address</label>
					<div class="col-sm-8">
						<textarea ng-model="ledgerForm.address1" tabindex="2" ng-change="changeLedgerData('address1',ledgerForm.address1)" ng-disabled="form.disableValue"  name="address"  placeholder="Your First address"  class="form-control ng-pristine ng-valid ng-touched"></textarea>
					</div>
				</div>
			</fieldset>
			<fieldset class="my-fieldset-paddingBottom">
				<div class="form-group">
					<label for="input-id-1" class="col-sm-3 control-label">Second Address</label>
					<div class="col-sm-8">
						<textarea ng-model="ledgerForm.address2" tabindex="2" ng-change="changeLedgerData('address2',ledgerForm.address2)" ng-disabled="form.disableValue"  name="address" placeholder="Your Second address" class="form-control ng-pristine ng-valid ng-touched"></textarea>
					</div>
				</div>
			</fieldset>
			<fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label class="col-sm-3 control-label">State</label>
                  <div class="col-sm-8">
                     <select chosen="" ng-model="ledgerForm.stateDropDown" tabindex="2" data-ng-options="s.stateName for s in form.statesDrop track by s.stateAbb" ng-change="ChangeState('stateAbb',ledgerForm.stateDropDown.stateAbb)" ng-disabled="form.disableValue"  class="form-control chosen-select" ></select>
                  </div>
               </div>
			</fieldset>
			<fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label class="col-sm-3 control-label">City</label>
                  <div class="col-sm-8">
                     <select chosen="" ng-model="ledgerForm.cityDrop" tabindex="2" ng-change="changeLedgerData('cityId',ledgerForm.cityDrop.cityId)" data-ng-options="s.cityName for s in form.cityDrop track by s.cityId" ng-disabled="form.disableValue" class="form-control chosen-select"></select>
                  </div>
               </div>
			</fieldset>
		</form>
	  </div>
	  
	  <h4 class="panel-heading">Taxation Details</h4>
      <div class="panel-body">
		<form method="get" action="/" novalidate="" class="form-horizontal">
			<fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label for="input-id-1" class="col-sm-1 control-label">TIN</label>
                  <div class="col-sm-4">
                     <input id="input-id-1" ng-model="ledgerForm.tin"  tabindex="2" ng-change="changeLedgerData('tin',ledgerForm.tin)" ng-disabled="form.disableValue"  type="text" placeholder="TIN Number" class="form-control"  />
                  </div>
				  
				   <label for="input-id-1" class="col-sm-1 control-label">PAN</label>
                  <div class="col-sm-5">
                     <input ng-model="ledgerForm.pan" tabindex="2" ng-change="changeLedgerData('pan',ledgerForm.pan)" id="input-id-1" masked="" type="text" ng-disabled="form.disableValue" placeholder="PAN Number" class="form-control" dir="rtl" />
                  </div>
               </div>
            </fieldset>
			<fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
				   <label for="input-id-1" class="col-sm-1 control-label">GST</label>
                  <div class="col-sm-4">
                     <input ng-model="ledgerForm.gstNo" tabindex="2" ng-change="changeLedgerData('gstNo',ledgerForm.gstNo)" id="input-id-1" masked="" type="text" ng-disabled="form.disableValue" placeholder="GST Number" class="form-control"  dir="rtl" />
                  </div>
				  
               </div>
            </fieldset>
			
			<fieldset class="my-fieldset-paddingBottom">
				<button type="button" ng-disabled="form.disableValue" class="mr mb-sm btn btn-danger pull-right" tabindex="3" ng-click="clickSave()" onFocus="this.id=this.tabIndex;this.tabIndex=1" onBlur="this.tabIndex=this.id">Cancel</button>
				<button type="button" ng-disabled="form.disableValue" class="mr mb-sm btn btn-success pull-right" tabindex="2" ng-click="addUpLedger()">Save</button>
			</fieldset>
		</form>
	  </div>
	 
   </div>
</div>

<div class="col-md-3" style="padding-right:0px">
   <div class="panel panel-default">
      <h4 class="panel-heading">Ledger
		<!--i ui-sref="." title="Add" ng-click="showInput()" class="fa fa-plus" style="font-size:17px;color:#17A1E5;float:right"> </i-->
		 <button class="btn btn-labeled btn-primary pull-right btn-sm" ui-sref="."  ng-click="showInput()">
			<span class="btn-label"><i class="fa fa-plus"></i></span>
			Add Ledger</button>
	  </h4>
	  <div class="form-group">
		 <div class="col-sm-12">
		 
		   <div class="form-group">
			 <select chosen="" ng-model="getLegderCompany.companyDropDown"  data-ng-options="s.companyName for s in form.companyDrop track by s.companyId" ng-change="changeCompanyToGetList(getLegderCompany.companyDropDown.companyId)"   class="form-control chosen-select" >
			 
			 </select>
		   </div>
			<div class="input-group m-b"> 
				<span class="input-group-addon"><i class="fa fa-search" ></i></span>
				<input id="input-id-1" ng-model="query['ledgerName']" type="text" class="form-control" placeholder="Search" />
			</div>
		 </div>
	  </div>
      <div class="panel-body" style="overflow-y: scroll !important;
max-height: calc(100vh - 300px) !important;">
	 
		<table class="table  table-striped" >
		
			<tr ng-repeat="item in form.allLedgerData | filter:query" >
				<td >
					 <span ui-sref="" style="letter-spacing: .025em;
	font-weight: bold;" ng-click="viewLedgerDetails(item.ledgerId)"> <i class="sidebar-item-icon icon-layers" ></i> {{item.ledgerName}}</span>
				</td>
				<td>
					<i ui-sref="." title="Edit" ng-click="editLedgerData(item.ledgerId)" class="fa fa-edit" style="font-size:17px;color:#17A1E5"> </i> 
				</td>
				<td>
					<i ui-sref="." title="View" ng-click="viewReadOlny(item.ledgerId)" class="fa fa-list-alt" style="font-size:17px;color:#17A1E5"></i>
				</td>
			</tr>
			
			<!--tr>
				<td>
				<i class="sidebar-item-icon icon-layers" ></i> <span style="letter-spacing: .025em;
	font-weight: bold;">Second Ledger</span>
				</td>
				<td>
					<i ui-sref="." title="Edit" ng-click="showInput()" class="fa fa-edit" style="font-size:17px;color:#17A1E5"> </i> 
				</td>
				<td>
					<i ui-sref="." title="View" ng-click="showInput()" class="fa fa-list-alt" style="font-size:17px;color:#17A1E5"></i>
				</td>
			</tr-->
		</table>
		
      </div>
   </div>
</div>
   
  
</div>