<h3>
   <small>
   <a ui-sref="app.dashboard" ><i class="fa fa-home"></i>Home</a> >> 
   Accounting >>
   Ledger </small>
</h3>
<!-- START panel-->
<div data-ng-controller="AccLedgerController as form" class="container-fluid">
	<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<div class="col-md-9" style="padding-left:0px">
	<div class="panel panel-default" ng-show="alertData">
		<div class="panel-body">
			<!--div class="alert alert-info" style="background-color:#17A1E5 !important;" data-ng-class="app.theme.brand" -->
			<div class="alert alert-info"  data-ng-class="app.theme.brand" >
				<i class="fa fa-exclamation-triangle"></i> &nbsp; <b>Select Ledger</b>
			</div>
			<!-- Not Visible -->
			<div class="alert alert-info" style="visibility:hidden">
				Select Ledger
			</div>
			<div class="alert alert-info" style="visibility:hidden">
				Select Ledger
			</div>
			<!-- END -->
		</div>
	</div>
	
   <div class="panel panel-default" ng-show="trueData">
   <form action="#" name="formLedger" class="form-validate form-horizontal" >
      <h4 class="panel-heading">Basic Details</h4>
      <div class="panel-body">
		
				<fieldset class="my-fieldset-paddingBottom">
				   <div class="form-group">
					  <label class="col-sm-3 control-label">*Company</label>
					  <div class="col-sm-8">
						 <select chosen="" ng-model="ledgerForm.companyDropDown" tabindex="2" data-ng-options="s.companyName for s in form.companyDrop track by s.companyId" ng-change="changeLedgerData('companyId',ledgerForm.companyDropDown.companyId)" ng-disabled="form.disableCompanyValue"  class="form-control chosen-select" ng-required="true" ></select>
					  </div>
				   </div>
				</fieldset>
				<fieldset class="my-fieldset-paddingBottom">
				   <div class="form-group">
					  <label class="col-sm-3 control-label">*Name</label>
					  <div class="col-sm-8">
						 <input id="input-id-1" tabindex="2" name="ledgerName" ng-model="ledgerForm.ledgerName" ng-change="changeLedgerData('ledgerName',ledgerForm.ledgerName)" ng-disabled="form.disableValue" type="text" placeholder="Ledger Name" class="form-control" ng-required="true" ng-pattern="/^[a-zA-Z0-9 &_`#().\'-\/]*$/" ng-maxlength="35" ng-minlength="1" auto-focus/>
						 
						<span ng-messages="formLedger.ledgerName.$error" ng-if="formLedger.ledgerName.$dirty || formLedger.ledgerName.$touched"  role="alert">
							<span ng-messages-include="errorRequired"></span>
							<span ng-messages-include="errorLonglength"></span>
							<span ng-messages-include="errorPatternThisSpecial"></span>
						</span>
						
					  </div>
				   </div>
				</fieldset >
				<fieldset class="my-fieldset-paddingBottom">
				   <div class="form-group">
					  <label for="input-id-1" class="col-sm-3 control-label">Email ID</label>
						<div class="col-sm-8">
							<div class="input-group m-b">
								<span class="input-group-addon">@</span>
								<input type="email" tabindex="2" name="emailId" ng-model="ledgerForm.emailId" ng-change="changeLedgerData('emailId',ledgerForm.emailId)" ng-disabled="form.disableValue" placeholder="Email ID" class="form-control"  ng-pattern="/^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,})$/" />
							</div>
							
							<span ng-messages="formLedger.emailId.$error" ng-if="formLedger.emailId.$dirty || formLedger.emailId.$touched"  role="alert">
								<span ng-messages-include="errorRequired"></span>
								<span ng-messages-include="errorEmail"></span>
							</span>
							
						
						</div>
				   </div>
				</fieldset>
				<fieldset class="my-fieldset-paddingBottom">
				   <div class="form-group">
					  <label for="input-id-1" class="col-sm-3 control-label">Alias</label>
					  <div class="col-sm-8">
						 <input ng-model="ledgerForm.alias" tabindex="2" name="alias" ng-change="changeLedgerData('alias',ledgerForm.alias)" id="input-id-1" type="text" ng-disabled="form.disableValue" placeholder="Alias" class="form-control"  ng-pattern="/^[a-zA-Z &_`#().\'-]*$/" ng-maxlength="35" ng-minlength="1" />
						 
						 <span ng-messages="formLedger.alias.$error" ng-if="formLedger.alias.$dirty || formLedger.alias.$touched"  role="alert">
							<span ng-messages-include="errorRequired"></span>
							<span ng-messages-include="errorLonglength"></span>
							<span ng-messages-include="errorPatternThisSpecial"></span>
						</span>
							
					  </div>
				   </div>
				</fieldset>
				<fieldset class="my-fieldset-paddingBottom">
					<div class="form-group">
					  <label for="input-id-1" class="col-sm-3 control-label">*Opening B/L</label>
					  <div class="col-sm-2">
							<select chosen data-ng-model="ledgerForm.amountType" name="openBal" tabindex="2" data-ng-options="s for s in form.amountTypeDrop" ng-change="changeLedgerData('amountType',ledgerForm.amountType)" ng-disabled="form.disableValue"  class="form-control chosen-select" ng-required="true" >
								<option value=""></option>
							</select>
							
							<span ng-messages="formLedger.openBal.$error" ng-if="formLedger.openBal.$dirty || formLedger.openBal.$touched"  role="alert">
								<span ng-messages-include="errorRequired"></span>
							</span>
						
						</div>
						<div class="col-sm-6">
							 <input ng-model="ledgerForm.openingBal" name="amount" tabindex="2" ng-change="changeLedgerData('amount',ledgerForm.openingBal)" ng-disabled="form.disableValue" id="input-id-1" ng-disabled="form.disableValue" type="text" placeholder="Opening B/L" class="form-control"  ng-required="true" ng-required="true" ng-pattern="/^[0-9]+$/" ng-maxlength="10" only-number />
							 
							<span ng-messages="formLedger.amount.$error" ng-if="formLedger.amount.$dirty || formLedger.amount.$touched"  role="alert">
								<span ng-messages-include="errorRequired"></span>
								<span ng-messages-include="errorLonglength"></span>
								<span ng-messages-include="errorPatternNumber"></span>
							</span>
						
					  </div>
				    </div>
				</fieldset>
		
      </div>
	   <h4 class="panel-heading">Additional Details</h4>
      <div class="panel-body">
		
			<fieldset class="my-fieldset-paddingBottom">
			   <div class="form-group">
				  <label for="input-id-1" class="col-sm-3 control-label">*Under</label>
				  <div class="col-sm-8">
				  
				  <script type="text/ng-template" id="underCustomTemplate.html">
					<a><span bind-html-unsafe="match.label | typeaheadHighlight:query"></span> ( {{match.model.underWhat}} ) </a>
				</script>
				
					 <input ng-model="ledgerForm.under" name="under" tabindex="2"  typeahead="state.ledgerGroupName for state in form.underWhat | filter:$viewValue | limitTo:10" typeahead-on-select="setPcode('ledgerGroupId',$item)" ng-model="selected" typeahead-editable="false" typeahead-template-url="underCustomTemplate.html" ng-disabled="form.disableValue" id="input-id-1" type="text" placeholder="Under" class="form-control autocomplete" ng-required="true"  />
					 
					<span ng-messages="formLedger.under.$error" ng-if="formLedger.under.$dirty || formLedger.under.$touched"  role="alert">
						<span ng-messages-include="errorRequired"></span>
					</span>
							
				  </div>
			   </div>
			</fieldset>
			<fieldset class="my-fieldset-paddingBottom">
			   <div class="form-group">
				  <label class="col-sm-3 control-label">Inventory Affected</label>
				  <div class="col-sm-8">
					 <select chosen data-ng-model="ledgerForm.invAffect" tabindex="2" data-ng-options="s for s in form.invAffectDrop" ng-change="changeLedgerData('inventoryAffected',ledgerForm.invAffect)" ng-disabled="form.disableValue"  class="form-control chosen-select" >
						 <option value=""></option>
					 </select>
				  </div>
			   </div>
			</fieldset>
		
	  </div>
	  
	  <h4 class="panel-heading">Address/Contact</h4>
      <div class="panel-body">
		
			<fieldset class="my-fieldset-paddingBottom">
			   <div class="form-group">
				  <label class="col-sm-3 control-label">Contact#</label>
				  <div class="col-sm-8">
					 <input id="input-id-1" tabindex="2" name="contactNo" ng-model="ledgerForm.contact" ng-change="changeLedgerData('contactNo',ledgerForm.contact)" ng-disabled="form.disableValue" type="text" placeholder="Contact Number" class="form-control"  ng-pattern="/^[0-9]+$/" ng-maxlength="12" ng-minlength="10" only-number />
					 
					<span ng-messages="formLedger.contactNo.$error" ng-if="formLedger.contactNo.$dirty || formLedger.contactNo.$touched"  role="alert">
						<span ng-messages-include="errorRequired"></span>
						<span ng-messages-include="errorLonglength"></span>
						<span ng-messages-include="errorShortlength"></span>
						<span ng-messages-include="errorPatternNumber"></span>
					</span>
						
				  </div>
			   </div>
			</fieldset >
			<fieldset class="my-fieldset-paddingBottom">
				<div class="form-group">
					<label for="input-id-1" class="col-sm-3 control-label">First Address</label>
					<div class="col-sm-8">
						<textarea ng-model="ledgerForm.address1" name="firstAddress" tabindex="2" ng-change="changeLedgerData('address1',ledgerForm.address1)" ng-disabled="form.disableValue"  name="address"  placeholder="Your First address"  class="form-control ng-pristine ng-valid ng-touched"  ng-pattern="/^[a-zA-Z0-9 *,-\/_`#\[\]().\']+$/" ng-maxlength="200" ng-minlength="1" ></textarea>
						
						<span ng-messages="formLedger.firstAddress.$error" ng-if="formLedger.firstAddress.$dirty || formLedger.firstAddress.$touched"  role="alert">
							<span ng-messages-include="errorRequired"></span>
							<span ng-messages-include="errorLonglength"></span>
							<span ng-messages-include="errorPatternThisSpecial"></span>
						</span>
						
					</div>
				</div>
			</fieldset>
			<fieldset class="my-fieldset-paddingBottom">
				<div class="form-group">
					<label for="input-id-1" class="col-sm-3 control-label">Second Address</label>
					<div class="col-sm-8">
						<textarea ng-model="ledgerForm.address2" name="secondAddress" tabindex="2" ng-change="changeLedgerData('address2',ledgerForm.address2)" ng-disabled="form.disableValue"  name="address" placeholder="Your Second address" class="form-control ng-pristine ng-valid ng-touched"  ng-pattern="/^[a-zA-Z0-9 *,-\/_`#\[\]().\']+$/" ng-maxlength="200" ng-minlength="1" ></textarea>
						
						<span ng-messages="formLedger.secondAddress.$error" ng-if="formLedger.secondAddress.$dirty || formLedger.secondAddress.$touched"  role="alert">
							<span ng-messages-include="errorRequired"></span>
							<span ng-messages-include="errorLonglength"></span>
							<span ng-messages-include="errorPatternThisSpecial"></span>
						</span>
						
					</div>
				</div>
			</fieldset>
			<fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label class="col-sm-3 control-label">*State</label>
                  <div class="col-sm-8">
                     <select chosen="" ng-model="ledgerForm.stateDropDown" tabindex="2" data-ng-options="s.stateName for s in form.statesDrop track by s.stateAbb" ng-change="ChangeState('stateAbb',ledgerForm.stateDropDown.stateAbb)" ng-disabled="form.disableValue"  class="form-control chosen-select" ng-required="true" ></select>
                  </div>
               </div>
			</fieldset>
			<fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label class="col-sm-3 control-label">*City</label>
                  <div class="col-sm-8">
                     <select chosen="" ng-model="ledgerForm.cityDrop" tabindex="2" ng-change="changeLedgerData('cityId',ledgerForm.cityDrop.cityId)" data-ng-options="s.cityName for s in form.cityDrop track by s.cityId" ng-disabled="form.disableValue" class="form-control chosen-select" ng-required="true" ></select>
                  </div>
               </div>
			</fieldset>
		
	  </div>
	  
	  <h4 class="panel-heading">Taxation Details</h4>
      <div class="panel-body">
		
			<fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label for="input-id-1" class="col-sm-1 control-label">TIN</label>
                  <div class="col-sm-5">
                     <input id="input-id-1" ng-model="ledgerForm.tin" name="tin"  tabindex="2" ng-change="changeLedgerData('tin',ledgerForm.tin)" ng-disabled="form.disableValue"  type="text" placeholder="TIN Number" class="form-control" ng-pattern="/^([a-zA-Z0-9])+$/" ng-minlength="11" ng-maxlength="11"  />
					 
					 <span ng-messages="formLedger.tin.$error" ng-if="formLedger.tin.$dirty || formLedger.tin.$touched" role="alert">
						<span ng-messages-include="errorPatternThisSpecial"></span>
						<span ng-messages-include="errorLonglength"></span>
						<span ng-messages-include="errorShortlength"></span>
					</span>
						
                  </div>
				  
				   <label for="input-id-1" class="col-sm-1 control-label">PAN</label>
                  <div class="col-sm-5">
                     <input ng-model="ledgerForm.pan" name="pan" tabindex="2" ng-change="changeLedgerData('pan',ledgerForm.pan)" id="input-id-1" masked="" type="text" ng-disabled="form.disableValue" placeholder="PAN Number" class="form-control"  ng-pattern="/^([a-zA-Z]){5}([0-9]){4}([a-zA-Z]){1}?$/" ng-minlength="10" ng-maxlength="10" />
					 
					 <span ng-messages="formLedger.pan.$error" ng-if="formLedger.pan.$dirty || formLedger.pan.$touched" role="alert">
						<span ng-messages-include="errorPatternThisSpecial"></span>
						<span ng-messages-include="errorLonglength"></span>
						<span ng-messages-include="errorShortlength"></span>
					</span>
						
                  </div>
               </div>
            </fieldset>
			<fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
				   <label for="input-id-1" class="col-sm-1 control-label">SGST</label>
                  <div class="col-sm-5">
                     <input ng-model="ledgerForm.sgst" tabindex="2" ng-change="changeLedgerData('sgst',ledgerForm.sgst)" id="input-id-1" masked="" type="text" ng-disabled="form.disableValue" placeholder="SGST Number" class="form-control"  />
                  </div>
				  
				   <label for="input-id-1" class="col-sm-1 control-label">CGST</label>
                  <div class="col-sm-5">
                     <input ng-model="ledgerForm.cgst" tabindex="2" ng-change="changeLedgerData('cgst',ledgerForm.cgst)" id="input-id-1" masked="" type="text" ng-disabled="form.disableValue" placeholder="CGST Number" class="form-control"   />
                  </div>
				  
               </div>
            </fieldset>
			
			<fieldset class="my-fieldset-paddingBottom">
				<button type="button" ng-disabled="form.disableValue" class="mr mb-sm btn btn-danger pull-right" tabindex="3" ng-click="showInput()" onFocus="this.id=this.tabIndex;this.tabIndex=1" onBlur="this.tabIndex=this.id">Cancel</button>
				<button type="button" ng-disabled="form.disableValue || formLedger.$invalid" class="mr mb-sm btn btn-success pull-right" tabindex="2" ng-click="addUpLedger()" >
					<span ng-if="!ledgerEditId.id" > Insert </span> <span ng-if="ledgerEditId.id" > Update </span>
				</button>
			</fieldset>
		
	  </div>
	 </form>
   </div>
</div>

<div class="col-md-3" style="padding-right:0px">
   <div class="panel panel-default">
    
	   <div class="panel-heading myHeading" >
			<div class="panel-title">
				Ledger
				 <button class="btn btn-labeled btn-primary pull-right btn-sm" ui-sref="."  ng-click="showInput()" style="background-color:#17A1E5 !important;" data-ng-class="app.theme.brand" >
			<span class="btn-label"><i class="fa fa-plus"></i></span>
			Add Ledger</button>
			
			</div>
		 </div>
	  <div class="form-group">
		 <div class="col-sm-12">
		 
		   <div class="form-group">
			 <select chosen="" ng-model="getLegderCompany.companyDropDown"  data-ng-options="s.companyName for s in form.companyDrop track by s.companyId" ng-change="changeCompanyToGetList(getLegderCompany.companyDropDown.companyId)"   class="form-control chosen-select" >
			 
			 </select>
		   </div>
			<div class="input-group m-b"> 
				<span class="input-group-addon"><i class="fa fa-search" ></i></span>
				<input id="input-id-1" ng-model="query['ledgerName']" type="text" class="form-control" placeholder="Search" />
			</div>
		 </div>
	  </div>
      <div class="panel-body" style="overflow-y: scroll !important;
max-height: calc(100vh - 300px) !important;">
	 
		<table class="table  table-striped" >
		
			<tr ng-repeat="item in form.allLedgerData | filter:query" >
				<td >
					 <span ui-sref="" style="letter-spacing: .025em;
	font-weight: bold;" ng-click="viewLedgerDetails(item.ledgerId)"> <i class="sidebar-item-icon icon-layers" ></i> {{item.ledgerName}}</span>
				</td>
				<td>
					<i ui-sref="." title="Edit" ng-click="editLedgerData(item.ledgerId)" class="fa fa-edit" style="font-size:17px;color:#17A1E5"> </i> 
				</td>
				<td>
					<i ui-sref="." title="View" ng-click="viewReadOlny(item.ledgerId)" class="fa fa-list-alt" style="font-size:17px;color:#17A1E5"></i>
				</td>
			</tr>
			
			<!--tr>
				<td>
				<i class="sidebar-item-icon icon-layers" ></i> <span style="letter-spacing: .025em;
	font-weight: bold;">Second Ledger</span>
				</td>
				<td>
					<i ui-sref="." title="Edit" ng-click="showInput()" class="fa fa-edit" style="font-size:17px;color:#17A1E5"> </i> 
				</td>
				<td>
					<i ui-sref="." title="View" ng-click="showInput()" class="fa fa-list-alt" style="font-size:17px;color:#17A1E5"></i>
				</td>
			</tr-->
		</table>
		
      </div>
   </div>
</div>
   
  
</div>


<script type="text/ng-template" id="errorRequired">
	<span class="text-danger" ng-message="required">{{errorMessage.require}}</span>
</script>

<script type="text/ng-template" id="errorEmail">
	<span class="text-danger" ng-message="pattern">{{errorMessage.email}}</span>
</script>

<script type="text/ng-template" id="errorLonglength">
	<span class="text-danger" ng-message="maxlength">{{errorMessage.longLength}}</span>
</script>

<script type="text/ng-template" id="errorShortlength">
	<span class="text-danger" ng-message="minlength">{{errorMessage.shortLength}}</span>
</script>

<script type="text/ng-template" id="errorPatternAlpha">
	<span class="text-danger" ng-message="pattern">{{errorMessage.Alphabets}}</span>
</script>

<script type="text/ng-template" id="errorPatternNumber">
	<span class="text-danger" ng-message="pattern">{{errorMessage.Numbers}}</span>
</script>

<script type="text/ng-template" id="errorPatternAlphaNumeric">
	<span class="text-danger" ng-message="pattern">{{errorMessage.AlphaNumeric}}</span>
</script>

<script type="text/ng-template" id="errorPatternThisSpecial">
	<span class="text-danger" ng-message="pattern">{{errorMessage.thisSpecialCharacter}}</span>
</script>

<script type="text/ng-template" id="errorPatternThisSpecial&Number">
	<span class="text-danger" ng-message="pattern">{{errorMessage.thisSpecialCharacterAndNumber}}</span>
</script>