<style>
.chosen-container .chosen-results {
    max-height:130px;
}
</style>
<h3>
   <small>
   <a ui-sref="app.dashboard" ><i class="fa fa-home"></i>Home</a> >> 
   Inventory >> 
    <a ui-sref="app.InvProduct" >Product</a> >> 
   Add New Product</small>
</h3>
<!-- START panel-->

<div data-ng-controller="AddInvProductController as form" class="container-fluid panel-body">
 <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
	
   <div class="panel panel-default">
      <h4 class="panel-heading">Basic Details</h4>
      <div class="panel-body">
         <form action="#" name="formProduct" class="form-validate form-horizontal">
			
			<fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label class="col-sm-3 control-label">Company</label>
                  <div class="col-sm-5">
                     <select chosen="" data-ng-model="addInvProduct.company" data-ng-options="s.companyName for s in form.companyDrop track by s.companyId" ng-change="changeCompany('companyId',addInvProduct.company.companyId)" class="form-control chosen-select" ng-required="true" ></select>
                  </div>
               </div>
			</fieldset>
			<fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label class="col-sm-3 control-label">Branch</label>
                  <div class="col-sm-5">
                     <select chosen="" data-ng-model="addInvProduct.branch" data-ng-options="s.branchName for s in form.branchDrop track by s.branchId" ng-change="changeInvProductData('branchId',addInvProduct.branch.branchId)" class="form-control chosen-select" ng-required="true" ></select>
                  </div>
               </div>
			</fieldset>
            <fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label for="input-id-1" class="col-sm-3 control-label">Product Name</label>
                  <div class="col-sm-5">
                     <input id="input-id-1" name="productName" ng-model="addInvProduct.name" ng-change="changeInvProductData('productName',addInvProduct.name)" type="text" placeholder="Product Name" class="form-control" ng-required="true" ng-pattern="/^[a-zA-Z0-9 &,\/_`#().\'-]+$/" ng-maxlength="50" auto-focus/>
					 
					<span ng-messages="formProduct.productName.$error" ng-if="formProduct.productName.$dirty || formProduct.productName.$touched"  role="alert">
						<span ng-messages-include="errorRequired"></span>
						<span ng-messages-include="errorLonglength"></span>
						<span ng-messages-include="errorPatternThisSpecial"></span>
					 </span>
					
                  </div>
               </div>
            </fieldset>
			<fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label class="col-sm-3 control-label">Categoy</label>
                  <div class="col-sm-5">
                     <select chosen="" data-ng-model="addInvProduct.category" data-ng-options="s.productCategoryName for s in form.categoryDrop track by s.productCategoryId" ng-change="changeInvProductData('productCategoryId',addInvProduct.category.productCategoryId)" class="form-control chosen-select" ng-required="true" ></select>
                  </div>
               </div>
			</fieldset>
			<fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label class="col-sm-3 control-label">Group</label>
                  <div class="col-sm-5">
                     <select chosen="" data-ng-model="addInvProduct.group" data-ng-options="s.productGroupName for s in form.groupDrop track by s.productGroupId" ng-change="changeInvProductData('productGroupId',addInvProduct.group.productGroupId)" class="form-control chosen-select" size='5' ng-required="true"></select>
                  </div>
               </div>
			</fieldset>	
			
			<fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label class="col-sm-3 control-label">Measurement Unit</label>
                  <div class="col-sm-5">
                     <select chosen="" data-ng-model="addInvProduct.measureUnit" data-ng-options="s for s in form.measureUnitDrop" ng-change="changeInvProductData('measurementUnit',addInvProduct.measureUnit)" class="form-control chosen-select" ng-required="true">
					 <option value=""></option>
					 </select>
                  </div>
               </div>
			</fieldset>	
			 <fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label for="input-id-1" class="col-sm-3 control-label">Purchase Price</label>
                  <div class="col-sm-5">
                     <input id="input-id-1" name="purchasePrice" dir="rtl" ng-model="addInvProduct.purchasePrice" ng-change="changeInvProductData('purchasePrice',addInvProduct.purchasePrice)" type="text" placeholder="Purchase Price" class="form-control" ng-required="true" ng-pattern="/^[0-9 \.]+$/" ng-maxlength="10" />
					 
					<span ng-messages="formProduct.purchasePrice.$error" ng-if="formProduct.purchasePrice.$dirty || formProduct.purchasePrice.$touched"  role="alert">
						<span ng-messages-include="errorRequired"></span>
						<span ng-messages-include="errorLonglength"></span>
						<span ng-messages-include="errorPatternThisSpecial"></span>
					 </span>
					
                  </div>
               </div>
            </fieldset>
			 <fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label for="input-id-1" class="col-sm-3 control-label">Wholesale Margin</label>
                  <div class="col-sm-5">
                     <input id="input-id-1" name="wholesaleMargin"  ng-model="addInvProduct.wholesaleMargin" ng-change="changeInvProductData('wholesaleMargin',addInvProduct.wholesaleMargin)" type="text" placeholder="Wholesale Margin" class="form-control" ng-required="true" ng-pattern="/^[0-9]{1,3}(\.[0-9]{1,2})?$|^100$/" style="direction:RTL;" ng-maxlength="6" />
					 
					<span ng-messages="formProduct.wholesaleMargin.$error" ng-if="formProduct.wholesaleMargin.$dirty || formProduct.wholesaleMargin.$touched"  role="alert">
						<span ng-messages-include="errorRequired"></span>
						<span ng-messages-include="errorLonglength"></span>
						<span ng-messages-include="errorPatternThisSpecial"></span>
					 </span>
					
                  </div>
               </div>
            </fieldset>
			<fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label for="input-id-1" class="col-sm-3 control-label">Semi-Wholesale Margin</label>
                  <div class="col-sm-5">
                     <input id="input-id-1" name="semiWholesaleMargin" dir="rtl" ng-model="addInvProduct.semiWholesaleMargin" ng-change="changeInvProductData('semiWholesaleMargin',addInvProduct.semiWholesaleMargin)" type="text" placeholder="Semi-Wholesale Margin" class="form-control" ng-required="true" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$|^100$/" ng-maxlength="6" />
					 
					<span ng-messages="formProduct.semiWholesaleMargin.$error" ng-if="formProduct.semiWholesaleMargin.$dirty || formProduct.semiWholesaleMargin.$touched"  role="alert">
						<span ng-messages-include="errorRequired"></span>
						<span ng-messages-include="errorLonglength"></span>
						<span ng-messages-include="errorPatternThisSpecial"></span>
					 </span>
					
                  </div>
               </div>
            </fieldset>
			<fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label for="input-id-1" class="col-sm-3 control-label">VAT(%)</label>
                  <div class="col-sm-5">
                     <input id="input-id-1" name="vat" dir="rtl" ng-model="addInvProduct.vat" ng-change="changeInvProductData('vat',addInvProduct.vat)" type="text" placeholder="VAT(%)" class="form-control" ng-required="true" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$|^100$/" ng-maxlength="6" />
					 
					<span ng-messages="formProduct.vat.$error" ng-if="formProduct.vat.$dirty || formProduct.vat.$touched"  role="alert">
						<span ng-messages-include="errorRequired"></span>
						<span ng-messages-include="errorLonglength"></span>
						<span ng-messages-include="errorPatternThisSpecial"></span>
					 </span>
					
                  </div>
               </div>
            </fieldset>
			<fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label for="input-id-1" class="col-sm-3 control-label">Margin</label>
                  <div class="col-sm-5">
                     <input id="input-id-1" name="margin" dir="rtl" ng-model="addInvProduct.margin" ng-change="changeInvProductData('margin',addInvProduct.margin)" type="text" placeholder="Margin" class="form-control" ng-required="true" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$|^100$/" ng-maxlength="6" />
					 
					<span ng-messages="formProduct.margin.$error" ng-if="formProduct.margin.$dirty || formProduct.margin.$touched"  role="alert">
						<span ng-messages-include="errorRequired"></span>
						<span ng-messages-include="errorLonglength"></span>
						<span ng-messages-include="errorPatternThisSpecial"></span>
					 </span>
					
                  </div>
               </div>
            </fieldset>
			 <fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label for="input-id-1" class="col-sm-3 control-label">MRP</label>
                  <div class="col-sm-5">
                     <input id="input-id-1" name="mrp" dir="rtl" ng-model="addInvProduct.mrp" ng-change="changeInvProductData('mrp',addInvProduct.mrp)" type="text" placeholder="MRP" class="form-control" ng-required="true" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$|^100$/" ng-maxlength="10" />
					 
					<span ng-messages="formProduct.mrp.$error" ng-if="formProduct.mrp.$dirty || formProduct.mrp.$touched"  role="alert">
						<span ng-messages-include="errorRequired"></span>
						<span ng-messages-include="errorLonglength"></span>
						<span ng-messages-include="errorPatternThisSpecial"></span>
					 </span>
					
                  </div>
               </div>
            </fieldset>
			
			 <button type="button" class="mr mb-sm btn btn-danger pull-right" data-ng-click="cancel()" >Cancel</button>
			 <button type="button" class="mr mb-sm btn btn-success pull-right" data-ng-click="pop()" ng-disabled="formProduct.$invalid" >Save</button>
         </form>
      </div>
   </div>
   
   
   
   
   <!-- END panel-->
</div>


<script type="text/ng-template" id="errorRequired">
	<span class="text-danger" ng-message="required">{{errorMessage.require}}</span>
</script>

<script type="text/ng-template" id="errorLonglength">
	<span class="text-danger" ng-message="maxlength">{{errorMessage.longLength}}</span>
</script>

<script type="text/ng-template" id="errorPatternAlpha">
	<span class="text-danger" ng-message="pattern">{{errorMessage.Alphabets}}</span>
</script>

<script type="text/ng-template" id="errorPatternThisSpecial">
	<span class="text-danger" ng-message="pattern">{{errorMessage.thisSpecialCharacter}}</span>
</script>
