<h3>
	
   <small><a ui-sref="app.dashboard" ><i class="fa fa-home"></i>Home</a> >> 
   Inventory >>
   Product</small>
</h3>
<div data-ng-controller="InvProductController as table" class="container-fluid">
	<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true,'time-out': 10000}"></toaster-container>
	<div class="panel panel-default">
		<div class="panel-body">
		
			<div class="col-md-8">
				<label class="col-sm-2 control-label"> Company </label>
				<div class="col-sm-10">
					<select chosen=""  ng-model="stateCheck" ng-options="s.companyName for s in table.states track by s.companyId" class="form-control chosen-select" >
					<option value=""> All </option>
					</select>
				</div>
			</div>
			
			<div class="col-md-1 myPaddingTop">
				<div class="col-sm-12">
					<button type="button" class="mb-sm btn btn-primary pull-right"  ng-click="showProduct()"  data-ng-class="app.theme.brand">Go</button>
				</div>
			</div>
			
			<div class="col-sm-3">
			</div>
			
		</div>
	</div>

	
   <div class="panel panel-default">
      <div class="panel-heading myHeading" >
         <!--button data-ng-click="table.tableParams.sorting({})" class="pull-right btn btn-default btn-sm">Clear sorting</button-->
		 <button type="button" class="btn btn-primary pull-right btn-sm" ng-click="openProductBatchModal()"  data-ng-class="app.theme.brand" > Batch </button> 
		 <button class="btn btn-labeled btn-primary pull-right btn-sm" ui-sref="app.AddInvProduct" data-ng-class="app.theme.brand" style="margin-right:5px">
			<span class="btn-label"><i class="fa fa-plus"></i></span>
		Add Product</button>
         <div class="panel-title" id="allPro">All Product  </div>
      </div>
	   <div class="table-responsive">
		  <table data-ng-table="table.tableParams" show-filter="true" class="table table-bordered table-striped">
		  <!--input type="text" class="input-filter form-control fa fa-search" ng-model="query" placeholder="SEARCH FOR ANY KIND OF DETAIL"/-->
			 <tbody>
				<tr data-ng-repeat="user in $data">
					<td data-title="'Brand'" sortable="'productCategoryName'" filter="{ 'productCategoryName': 'text' }" >{{user.productCategory.productCategoryName}}</td>
					 <td data-title="'Category'" sortable="'productGroupName'" filter="{ 'productGroupName': 'text' }" >{{user.productGroup.productGroupName}}</td>
					<td data-title="'Product Name'" sortable="'productName'" filter="{ 'productName': 'text' }" >{{user.productName}}</td>
				   
					<td data-title="'Color'"  filter="{ 'color': 'text' }" >{{user.color}}</td>
					<td data-title="'Size'"  filter="{ 'size': 'text' }" >{{user.size}}</td>
			
				   <td data-title="'Action'" style="width:10%"> 
						<center>
							<!--i ui-sref="" title="Barcode" ng-click="barcodePopup('lg',user.productId,user.productName,user.color,user.size)" class="fa fa-barcode" style="font-size:15px;"> </i-->
							<i ui-sref="" title="Edit" ng-click="editProduct(user.productId)" class="fa fa-edit" style="font-size:17px;color:#10709f"> </i> &nbsp; &nbsp;
							<i ui-sref="" title="Delete" ng-click="deleteProduct('sm',user.productId)" class="fa fa-times-circle" style="font-size:17px;color:red"></i>
						</center>
					</td>
				</tr>
			 </tbody>
		  </table>
		 </div>
	   <span ng-include="'app/views/partials/tableFooter/tableFooter.html'" >  </span>
   </div>
</div>