<h3>
	
   <small><a ui-sref="app.dashboard" ><i class="fa fa-home"></i>Home</a> >> 
   Inventory >>
   Stock</small>
</h3>
<div data-ng-controller="InvStockController as table" class="container-fluid">
	
   <div class="panel panel-default">
    <div class="panel-heading"><a data-ng-mousedown="csv.generate()" data-ng-href="{{ csv.link() }}" download="test.csv" class="pull-right btn btn-sm btn-primary">Export to CSV</a>
         <div class="panel-title">Stock</div>
    </div>
      
      <table data-ng-table="table.tableParams" export-csv="csv" show-filter="true" class="table table-bordered table-striped">
	  <!--input type="text" class="input-filter form-control fa fa-search" ng-model="query" placeholder="SEARCH FOR ANY KIND OF DETAIL"/-->
	  <thead>
		<tr>
			<th  colspan="3" >Inward</th>
			<th  colspan="3" >Outward</th>
			<th  colspan="3" >Balance</th>
		</tr>
		<tr>
			<th >Dt.</th>
			<th>Qty</th>
			<th >Amount</th>
			<th >Dt.</th>
			<th>Qty</th>
			<th >Amount</th>
			<th >Dt.</th>
			<th>Qty</th>
			<th >Amount</th>
		</tr>
	  </thead>
         <tbody>
            <tr data-ng-repeat="user in $data">
				<td>{{user.name}}</td>
				<td>{{user.category}}</td>
			    <td>{{user.group}}</td>
				<td>{{user.name}}</td>
				<td>{{user.category}}</td>
			    <td>{{user.group}}</td>
				<td>{{user.name}}</td>
				<td>{{user.category}}</td>
			    <td>{{user.group}}</td>
            </tr>
         </tbody>
      </table>
   </div>
</div>