<div class="modal-header">
		<button type="button" data-dismiss="modal" data-ng-click="closeButton()" aria-hidden="true" class="close">×</button>  
		  <h4 id="myModalLabel" class="modal-title"><b>History of Vendor Data</b></h4>
	</div>
	<div class="modal-body my-model-body">
		 <div class="table-responsive">
			<table data-ng-table="tableParams"  class="table table-bordered table-striped">
				<!--input type="text" class="input-filter form-control fa fa-search" ng-model="query" placeholder="SEARCH FOR ANY KIND OF DETAIL"/-->
				<tbody >
					<tr data-ng-repeat="user in $data track by $index"  >
					<td data-title="'#'"  style="text-align:center">{{::(itemsPerPage * (pageNumber-1)) + $index+1}}</td>
						<td data-title="'Date'" sortable="'date'" filter="{ 'entryDate': 'text' }" >{{::dateConvert(user.entryDate) | date:dateFormats}}</td>
						<td data-title="'Bill#'" >{{::user.billNumber}}</td>
						<td data-title="'Vendor Name'"  filter="{ 'clientName': 'text' }" >{{::user.vendor.ledgerName}}</td>
						<td data-title="'Total'" filter="{ 'total': 'text' }" style="text-align:right">{{::user.total}}</td>
						<td data-title="'Action'" >
							<center>
								<i ui-sref="" ng-click="editDataViewSales(user)" class="fa fa-edit" style="font-size:17px;color:#10709f"> </i>
							</center>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<span ng-include="'app/views/partials/tableFooter/tableFooter.html'" >  </span> 
	</div>