<div class="modal-header">
		
		
		<button type="button" data-dismiss="modal" data-ng-click="closeButton()" aria-hidden="true" class="close pull-right">×</button>  
		  <h4 id="myModalLabel" class="modal-title"> Bill Preview </h4>
		  
		<!--center>
		
			<button type="button" class="mr mb-sm btn btn-success btn-sm" ng-click="ok('not')" ng-disabled="buttonValidation" > <span ng-if="insertOrUpdate == 'update'">Update</span> <span ng-if="insertOrUpdate == 'insert'">Save</span> </button>
			
			<button type="button" class="mr mb-sm btn btn-success btn-sm" ng-click="ok('preprint')" ng-disabled="buttonValidation" > <span ng-if="insertOrUpdate == 'update'">Update Preprinted & Print </span> <span ng-if="insertOrUpdate == 'insert'">Preprinted & Print </span> </button>
			
			<button type="button" class="mr mb-sm btn btn-success btn-sm" ng-click="ok('generate')" ng-disabled="buttonValidation" > <span ng-if="insertOrUpdate == 'update'">Update & Print </span> <span ng-if="insertOrUpdate == 'insert'">Save & Print </span> </button>
		
		 </center-->
			
			 
		
	</div>
	<div class="modal-body my-model-body" ng-bind-html="TemplateDisplay" >
		 
		
		
	</div>

