<h3>
   <small><a ui-sref="app.dashboard" ><i class="fa fa-home"></i>Home</a> >> 
   Taxation >>
    <a ui-sref="app.AccViewPurchaseTaxation" >View</a> >>
   Purchase Tax</small>
</h3>
<div class="container-fluid">
	<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true,'time-out': 10000}"></toaster-container>
	
   <div class="panel panel-default">
      <div class="panel-heading myHeading" >
         <!--button data-ng-click="table.tableParams.sorting({})" class="pull-right btn btn-default btn-sm">Clear sorting</button-->
		<a ng-click="generatePdf('excel')" class="pull-right btn btn-sm btn-primary" ng-if="exportPdfHidden" data-ng-class="app.theme.brand" >Export to Excel</a>
		  <div class="panel-title" id="allPro"> <h5>PurchaseTax of <b>{{displayCompany}}</b> Company Between {{::displayfromDate}} to {{::displaytoDate}} </h5> </div>
      </div>
	   <div class="table-responsive">
		  <table data-ng-table="table.tableParams" show-filter="false" class="table table-bordered table-striped">
		  <!--input type="text" class="input-filter form-control fa fa-search" ng-model="query" placeholder="SEARCH FOR ANY KIND OF DETAIL"/-->
			 <tbody>
				<tr data-ng-repeat="user in $data">
					<td data-title="'#'"  >{{ (itemsPerPage * (pageNumber-1)) + $index+1 }}</td>
					<td data-title="'Bill#'"  filter="{ 'billNumber': 'text' }" >{{user.billNumber}}</td>
					 <td data-title="'transactionDate'"  filter="{ 'transactionDate': 'text' }" >{{dateConvert(user.transactionDate) | date:dateFormat}}</td>
					<td data-title="'Client Name'"  filter="{ 'clientName': 'text' }" >{{user.clientName}}</td>
				   
					<td data-title="'transactionType'"  filter="{ 'transactionType': 'text' }" >{{user.transactionType}}</td>
					<td data-title="'Tax'"  filter="{ 'tax': 'text' }" style="text-align:right" >{{user.tax}}</td>
					<td data-title="'AdditionalTax'"  filter="{ 'additionalTax': 'text' }" style="text-align:right" >{{user.additionalTax}}</td>
					<td data-title="'Total'"  filter="{ 'total': 'text' }" style="text-align:right" >{{user.total}}</td>
					<td data-title="'GrandTotal'"  filter="{ 'grandTotal': 'text' }" style="text-align:right" >{{user.grandTotal}}</td>
					
				</tr>
			 </tbody>
		  </table>
		</div>
	   <span ng-include="'app/views/partials/tableFooter/tableFooter.html'" >  </span>
   </div>
</div>