<h3>
   <small>
   <a ui-sref="app.dashboard" ><i class="fa fa-home"></i>Home</a> >> 
   <a ui-sref="app.table-ngtable" >Company</a> >> 
   Add New Company</small>
</h3>
<!-- START panel-->
<div data-ng-controller="AddCompanyController as form" class="container-fluid">
	<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
	<div class="panel panel-default" ng-show="AddCompanyModify">
		 <!--h4 class="panel-heading"></h4-->
		 <div class="panel-body">
		 <label>Company</label>
			<div class="input-group">
				<!--input type="text" class="form-control" placeholder="Company Name" /-->
                     <select chosen="" data-ng-model="addCompany.companyDropDown2" data-ng-options="s.companyName for s in form.companyDrop track by s.companyId" class="form-control chosen-select"></select>
				<span class="input-group-btn">
				   <button type="button" class="btn btn-default" style="background-color:#17A1E5;color:white !important">Go!</button>
				</span>
            </div>
		 </div>
	</div>
   <div class="panel panel-default">
      <h4 class="panel-heading">Basic Details</h4>
      <div class="panel-body">
         <form method="get" action="/" novalidate="" class="form-horizontal">
			<div class="col-md-9">
            <fieldset>
               <div class="form-group">
                  <label for="input-id-1" class="col-sm-2 control-label">Name</label>
                  <div class="col-sm-8">
                     <input id="input-id-1" ng-model="addCompany.Name" type="text" placeholder="Name" class="form-control" ng-change="changeCompanyData('companyName',addCompany.Name)"/>
                  </div>
               </div>
            </fieldset>
			<fieldset>
				<div class="form-group">
                  <label for="input-id-1" class="col-sm-2 control-label">Display Name</label>
                  <div class="col-sm-8">
                     <input id="input-id-1" ng-model="addCompany.displayName" ng-change="changeCompanyData('companyDisplayName',addCompany.displayName)"  type="text" placeholder="Display Name" class="form-control" />
                  </div>
               </div>
			</fieldset>
			
			<fieldset>
				<div class="form-group">
					<label for="input-id-1" class="col-sm-2 control-label">First Address</label>
					<div class="col-sm-8">
						<textarea style="" name="address"   placeholder="Your First address" data-ng-model="addCompany.address1" ng-change="changeCompanyData('address1',addCompany.address1)" class="form-control ng-pristine ng-valid ng-touched"></textarea>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<div class="form-group">
					<label for="input-id-1" class="col-sm-2 control-label">Second Address</label>
					<div class="col-sm-8">
						<textarea style="" name="address"  placeholder="Your Second address" data-ng-model="addCompany.address2" ng-change="changeCompanyData('address2',addCompany.address2)" class="form-control ng-pristine ng-valid ng-touched"></textarea>
					</div>
				</div>
			</fieldset>
			<fieldset>
               <div class="form-group">
                  <label class="col-sm-2 control-label">State</label>
                  <div class="col-sm-5">
                     <select chosen="" data-ng-model="addCompany.statesDropDown" data-ng-options="s.stateName for s in form.statesDrop track by s.stateAbb" ng-change="ChangeState('stateAbb',addCompany.statesDropDown.stateAbb)" class="form-control chosen-select"></select>
                  </div>
               </div>
			</fieldset>
			<fieldset>
               <div class="form-group">
                  <label class="col-sm-2 control-label">City</label>
                  <div class="col-sm-5">
                     <select chosen="" data-ng-model="addCompany.cityDropDown" ng-change="changeCompanyData('cityId',addCompany.cityDropDown.cityId)" data-ng-options="s.cityName for s in form.cityDrop track by s.cityId" class="form-control chosen-select"></select>
                  </div>
               </div>
			</fieldset>
			<fieldset>
				<div class="form-group">
					<label class="col-sm-2 control-label">PIN Code</label>
					<div class="col-sm-3">
					   <input type="text" ng-model="addCompany.pincode" ng-change="changeCompanyData('pincode',addCompany.pincode)"  masked="999999" placeholder="PIN Code" class="form-control" />
					   <span class="help-block">Masked="395001"</span>
					</div>
				</div>
			</fieldset>
			</div>
			<div class="col-md-3">
			<img src="http://api.siliconbrain.co.in/{{addCompany.documentUrl}}{{addCompany.documentName}}" height="100" width="80%" class="brand-logo-collapsed"/>
			<input id="input-id-1" type="file"  onchange="angular.element(this).scope().uploadFile(this.files)"  />
			</div>
         </form>
      </div>
   </div>
   <div class="panel panel-default">
      <h4 class="panel-heading">Registration & Texation Details</h4>
      <div class="panel-body">
         <form method="get" action="/" novalidate="" class="form-horizontal">
            <fieldset>
               <div class="form-group">
                  <label for="input-id-1" class="col-sm-2 control-label">TIN</label>
                  <div class="col-sm-4">
                     <input id="input-id-1" ng-model="addCompany.tin" ng-change="changeCompanyData('tin',addCompany.tin)"   type="text" placeholder="TIN Number" class="form-control" />
                  </div>
				  
				   <label for="input-id-1" class="col-sm-2 control-label">PAN</label>
                  <div class="col-sm-3">
                     <input id="input-id-1" ng-model="addCompany.pan" ng-change="changeCompanyData('pan',addCompany.pan)"  masked="" type="text" placeholder="PAN Number" class="form-control" dir="rtl" />
                  </div>
				  
               </div>
            </fieldset>
			<fieldset>
               <div class="form-group">
                  <label for="input-id-1" class="col-sm-2 control-label">VAT</label>
                  <div class="col-sm-4">
                     <input id="input-id-1" ng-model="addCompany.vat" ng-change="changeCompanyData('vatNo',addCompany.vat)"  masked="" type="text" placeholder="VAT" class="form-control" dir="rtl" />
                  </div>
				  
				   <label for="input-id-1" class="col-sm-2 control-label">GST</label>
                  <div class="col-sm-3">
                     <input id="input-id-1" masked="" ng-model="addCompany.gst" ng-change="changeCompanyData('gst',addCompany.gst)"  type="text" placeholder="GST Number" class="form-control" dir="rtl" />
                  </div>
				  
               </div>
            </fieldset>
			<fieldset>
				<div class="form-group">
                  <label for="input-id-1" class="col-sm-2 control-label">Service Tax</label>
                  <div class="col-sm-7">
                     <input id="input-id-1" ng-model="addCompany.serviceTax" ng-change="changeCompanyData('serviceTaxNo',addCompany.serviceTax)"  type="text" placeholder="Display Name" class="form-control" />
                  </div>
               </div>
			</fieldset>
         </form>
      </div>
   </div>
   <div class="panel panel-default">
      <h4 class="panel-heading">Settings</h4>
      <div class="panel-body">
         <form method="get" action="/" novalidate="" class="form-horizontal">
            <fieldset>
               <div class="form-group">
                  <label class="col-sm-3 control-label">Base Currency Symbol</label>
                  <div class="col-sm-5">
                     <select chosen="" data-ng-model="addCompany.currency" ng-change="changeCompanyData('basicCurrencySymbol',addCompany.currency)" data-ng-options="s for s in form.states" class="form-control chosen-select">
						<option value=""></option>
					 </select>
                  </div>
               </div>
            </fieldset>
			<fieldset>
				<div class="form-group">
                  <label for="input-id-1" class="col-sm-3 control-label">Formal Name</label>
                  <div class="col-sm-5">
                     <input id="input-id-1" ng-model="addCompany.formalName" ng-change="changeCompanyData('formalName',addCompany.formalName)"  type="text" placeholder="Formal Name" class="form-control" />
                  </div>
               </div>
			</fieldset>
			<fieldset>
				<div class="form-group">
                  <label class="col-sm-3 control-label">Number of Decimal Points</label>
                  <div class="col-sm-5">
                     <select chosen="" data-ng-model="addCompany.decimal" data-ng-options="s for s in form.states2" ng-change="changeCompanyData('noOfDecimalPoints',addCompany.decimal)" class="form-control chosen-select">
						<option value=""></option>
					 </select>
                  </div>
               </div>
			</fieldset>
			<fieldset>
				<div class="form-group">
					 <label class="col-sm-3 control-label">Currency Symbol</label>
					 <div class="col-sm-5">
						<select chosen="" data-ng-model="addCompany.curSymbol" data-ng-options="s for s in form.cursymbolDrop" class="form-control chosen-select">
							<option value=""></option>
						</select>
					</div>
				</div>
			</fieldset>
			<button type="button" class="mr mb-sm btn btn-danger pull-right">Cancel</button>
			<button type="button" class="mr mb-sm btn btn-success pull-right" ng-click="addCompanyForm(addCompany)" >Save</button>
			
         </form>
      </div>
   </div>

   
   
   <!-- END panel-->
</div>