<h3>
	
   <small><a ui-sref="app.dashboard" ><i class="fa fa-home"></i>Home</a> >> Company</small>
</h3>
<div data-ng-controller="CompanyController as table" class="container-fluid">
	<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
   <div class="panel panel-default">
      <div class="panel-heading myHeading" >
         <!--button data-ng-click="table.tableParams.sorting({})" class="pull-right btn btn-default btn-sm">Clear sorting</button-->
		 <button class="btn btn-labeled btn-primary pull-right btn-sm" ui-sref="" ng-click="GoToAddCompany()"  data-ng-class="app.theme.brand" >
			<span class="btn-label"><i class="fa fa-plus"></i></span>
		Add Company</button>
         <div class="panel-title">All Companies</div>
      </div>
	  
	  <div class="table-responsive">
      <table data-ng-table="table.tableParams" show-filter="true" class="table table-bordered table-striped">
	  <!--input type="text" class="input-filter form-control fa fa-search" ng-model="query" placeholder="SEARCH FOR ANY KIND OF DETAIL"/-->
        <tbody>
            <tr data-ng-repeat="user in $data">
				<td   data-title="'Image'"  filter="{ 'companyName': '' }" ><img ng-if="user.logo.documentName" src="{{erpPath}}{{user.logo.documentUrl}}{{user.logo.documentName}}" height="50" width="70" title="{{user.logo.documentName}}" /> 
					<img ng-if="!user.logo.documentName" src="app/img/noImage.jpg" height="50" width="70"  />
				</td>
				<td data-title="'Name'" sortable="'companyName'" filter="{ 'companyName': 'text' }" >{{user.companyName}}</td>
				<td data-title="'Address'" sortable="'address1'" filter="{ 'address1': 'text' }" >{{user.address1}}</td>
			    <td data-title="'Address2'" sortable="'address2'" filter="{ 'address2': 'text' }" >{{user.address2}}</td>
				<td data-title="'Pincode'" sortable="'pincode'" filter="{ 'pincode': 'text' }" >{{user.pincode}}</td>
				<td data-title="'City'" sortable="'cityName'" filter="{ 'cityName': 'text' }" >{{user.city.cityName}}</td>
				 
                <td data-title="'Default'" >
                  <input type="radio"  name="companyradio" ng-model="companyradio"  ng-value="user.isDefault" ng-click="isDefault_comp(user.companyId,user.isDefault)" ui-sref="" />
                </td>
			    <td data-title="'Action'" sortable="'action'" > 
					<center>
						<i ui-sref="" ng-click="edit_comp(user.companyId)" class="fa fa-edit" style="font-size:17px;color:#10709f"> </i> &nbsp; &nbsp;
						<i ui-sref="" ng-click="delete_comp('sm',user.companyId)" class="fa fa-times-circle" style="font-size:17px;color:red" ng-if="user.isDefault != 'ok'"></i>
					</center>
				</td>
            </tr>
        </tbody>
			
      </table>
	  </div>
	   <span ng-include="'app/views/partials/tableFooter/tableFooter.html'" >  </span>
   </div>
</div>