
   
<link href="app/views/PopupModal/TopBar/CalcSS3.css" rel="stylesheet" type="text/css" />
	<link href="app/views/PopupModal/TopBar/index.css" rel="stylesheet" type="text/css" />
	
<div class="modal-header">

	<i  data-dismiss="modal" data-ng-click="closeButton()" aria-hidden="true" class="close pull-right">×</i>  
	<h4 id="myModalLabel" class="modal-title"> Calculator </h4>
	
</div>

<!--div class="modal-body my-model-body" style="height: 60vh !important;" ng-include="'app/views/PopupModal/TopBar/index.html'" -->
<div class="modal-body my-model-body" style="height: 60vh !important;" ng-include src="'app/views/PopupModal/TopBar/index.html?i=1001'" >

	

</div>

<!--script  src="app/views/PopupModal/TopBar/CalcSS3.js"></script-->
