<div class="modal-header">
		<button type="button" data-dismiss="modal" data-ng-click="closeButton()" aria-hidden="true" class="close">×</button>  
		  <h4 id="myModalLabel" class="modal-title">Modal title</h4>
	</div>
	<div class="modal-body my-model-body">
		<center>
			<form action="#" name="formProduct" class="form-validate form-horizontal">
				
			<fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label class="col-sm-3 control-label">Company</label>
                  <div class="col-sm-7">
                     <select chosen="" data-ng-model="addModelProduct.company" tabindex="2" data-ng-options="s.companyName for s in companyDrop track by s.companyId" ng-change="changeCompany(addModelProduct.company.companyId)" ng-disabled="disableCompany"  class="form-control chosen-select" ng-required="true"></select>
                  </div>
               </div>
			</fieldset>
			<fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label class="col-sm-3 control-label">Branch</label>
                  <div class="col-sm-7">
                     <select chosen="" data-ng-model="addModelProduct.branch" tabindex="2" data-ng-options="s.branchName for s in branchDrop track by s.branchId" class="form-control chosen-select" ng-required="true"></select>
                  </div>
               </div>
			</fieldset>
			<fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label class="col-sm-3 control-label">Brand</label>
                  <div class="col-sm-7">
                     <select chosen="" data-ng-model="addModelProduct.category" tabindex="2" data-ng-options="s.productCategoryName for s in categoryDrop track by s.productCategoryId" class="form-control chosen-select" ng-required="true"></select>
                  </div>
               </div>
			</fieldset>
			<fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label class="col-sm-3 control-label">Category</label>
                  <div class="col-sm-7">
                     <select chosen="" data-ng-model="addModelProduct.group" tabindex="2" data-ng-options="s.productGroupName for s in groupDrop track by s.productGroupId" class="form-control chosen-select" ng-required="true"></select>
                  </div>
               </div>
			</fieldset>	
            <fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label for="input-id-1" class="col-sm-3 control-label">Product Name</label>
                  <div class="col-sm-7">
                     <input id="input-id-1" name="productName" ng-model="addModelProduct.productName" type="text" placeholder="Product Name" class="form-control" ng-required="true" ng-pattern="/^[a-zA-Z0-9 &,\/_`#().\'-]+$/" ng-maxlength="50" tabindex="2" auto-focus />
					 
					 <span ng-messages="formProduct.productName.$error" ng-if="formProduct.productName.$dirty || formProduct.productName.$touched"  role="alert">
						<span ng-messages-include="errorRequired"></span>
						<span ng-messages-include="errorLonglength"></span>
						<span ng-messages-include="errorPatternAlpha"></span>
					 </span>
					 
                  </div>
               </div>
            </fieldset>
			<fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label for="input-id-1" class="col-sm-3 control-label">Color</label>
                  <div class="col-sm-3">
                     <input id="input-id-1" name="productColor" ng-model="addModelProduct.color" type="text" placeholder="Color" class="form-control" ng-required="true" ng-pattern="/^[a-zA-Z .\-\/]+$/" ng-maxlength="30" />
					 
					<span ng-messages="formProduct.productColor.$error" ng-if="formProduct.productColor.$dirty || formProduct.productColor.$touched"  role="alert">
						<span ng-messages-include="errorRequired"></span>
						<span ng-messages-include="errorLonglength"></span>
						<span ng-messages-include="errorPatternThisSpecial"></span>
					 </span>
					
                  </div>
              

                  <label for="input-id-1" class="col-sm-1 control-label">Size</label>
                  <div class="col-sm-3">
                     <input id="input-id-1" name="productSize" ng-model="addModelProduct.size" type="text" placeholder="Size" class="form-control" ng-required="true" ng-pattern="/^[a-zA-Z0-9 .()]+$/" ng-maxlength="15"/>
					 
					<span ng-messages="formProduct.productSize.$error" ng-if="formProduct.productSize.$dirty || formProduct.productSize.$touched"  role="alert">
						<span ng-messages-include="errorRequired"></span>
						<span ng-messages-include="errorLonglength"></span>
						<span ng-messages-include="errorPatternThisSpecial"></span>
					 </span>
					
                  </div>
               </div>
            </fieldset>
			 <fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label for="input-id-1" class="col-sm-3 control-label">Product Description</label>
                  <div class="col-sm-7">
                     <textarea rows="1" id="input-id-1" name="productDescription" ng-model="addModelProduct.productDescription" type="text" tabindex="2" placeholder="Product Description" class="form-control" ng-pattern="/^[a-zA-Z0-9 &,\/_`#().\'-]+$/" ng-maxlength="50" ></textarea>
					 
					<span ng-messages="formProduct.productDescription.$error" ng-if="formProduct.productDescription.$dirty || formProduct.productDescription.$touched"  role="alert">
						<span ng-messages-include="errorRequired"></span>
						<span ng-messages-include="errorLonglength"></span>
						<span ng-messages-include="errorPatternThisSpecial"></span>
					 </span>
					
                  </div>
               </div>
            </fieldset>
			
			<fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label class="col-sm-3 control-label">Measurement Unit</label>
                  <div class="col-sm-7">
                     <select chosen="" data-ng-model="addModelProduct.measureUnit" data-ng-options="s for s in measureUnitDrop" class="form-control chosen-select" ng-required="true" tabindex="2" >
						<option value=""></option>
					 </select>
                  </div>
               </div>
			</fieldset>	
			 <fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label for="input-id-1" class="col-sm-3 control-label">Purchase Price</label>
                  <div class="col-sm-7">
                     <input id="input-id-1" name="purchasePrice" dir="rtl" ng-model="addModelProduct.purchasePrice" type="text" placeholder="Purchase Price" class="form-control" ng-required="true" ng-pattern="/^[0-9 \.]+$/" ng-maxlength="10" tabindex="2" only-number  />
					 
					<span ng-messages="formProduct.purchasePrice.$error" ng-if="formProduct.purchasePrice.$dirty || formProduct.purchasePrice.$touched"  role="alert">
						<span ng-messages-include="errorRequired"></span>
						<span ng-messages-include="errorLonglength"></span>
						<span ng-messages-include="errorPatternThisSpecial"></span>
					 </span>
					
                  </div>
               </div>
            </fieldset>
			 <fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label for="input-id-1" class="col-sm-3 control-label">Tax Margin</label>
                  <div class="col-sm-4">
                     <input id="input-id-1" name="wholesaleMarginFlat"  ng-model="addModelProduct.wholesaleMarginFlat" type="text" placeholder="Flat" class="form-control"  ng-pattern="/^[0-9 .]*$/" style="direction:RTL;" ng-maxlength="8"  tabindex="2" only-number />
					 
					<span ng-messages="formProduct.wholesaleMarginFlat.$error" ng-if="formProduct.wholesaleMarginFlat.$dirty || formProduct.wholesaleMarginFlat.$touched"  role="alert">
						<span ng-messages-include="errorRequired"></span>
						<span ng-messages-include="errorLonglength"></span>
						<span ng-messages-include="errorPatternThisSpecial"></span>
					 </span>
					
                  </div>
				  
				  <div class="col-sm-3">
                     <input id="input-id-1" name="wholesaleMargin"  ng-model="addModelProduct.wholesaleMargin" type="text" placeholder="(%)Percentage" class="form-control" ng-pattern="/^[0-9 .]*$/" style="direction:RTL;" ng-maxlength="8" max="100" tabindex="2" only-number />
					 
					<span ng-messages="formProduct.wholesaleMargin.$error" ng-if="formProduct.wholesaleMargin.$dirty || formProduct.wholesaleMargin.$touched"  role="alert">
						<span ng-messages-include="errorRequired"></span>
						<span ng-messages-include="errorLonglength"></span>
						<span ng-messages-include="errorPatternThisSpecial"></span>
					 </span>
					
                  </div>
				  
				   <label for="input-id-1" class="col-sm-2 control-label-left" >{{ (displayParseFloat(addModelProduct.wholesaleMarginFlat) + (displayParseFloat(addModelProduct.purchasePrice) * displayParseFloat(addModelProduct.wholesaleMargin) / 100)) |  currency:"&#8377; "}}</label>
               </div>
            </fieldset>
			<fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label for="input-id-1" class="col-sm-3 control-label">Semi-Wholesale Margin</label>
                  <div class="col-sm-7">
                     <input id="input-id-1" name="semiWholesaleMargin" dir="rtl" ng-model="addModelProduct.semiWholesaleMargin" type="text" placeholder="Semi-Wholesale Margin" class="form-control"  ng-pattern="/^[0-9 .]*$/" ng-maxlength="6" max="100" tabindex="2" only-number />
					 
					<span ng-messages="formProduct.semiWholesaleMargin.$error" ng-if="formProduct.semiWholesaleMargin.$dirty || formProduct.semiWholesaleMargin.$touched"  role="alert">
						<span ng-messages-include="errorRequired"></span>
						<span ng-messages-include="errorLonglength"></span>
						<span ng-messages-include="errorPatternThisSpecial"></span>
					 </span>
					
                  </div>
               </div>
            </fieldset>
			<fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label for="input-id-1" class="col-sm-3 control-label">VAT(%)</label>
                  <div class="col-sm-7">
                     <input id="input-id-1" name="vat" dir="rtl" ng-model="addModelProduct.vat" type="text" placeholder="VAT(%)" class="form-control"  ng-pattern="/^[0-9 .]*$/" ng-maxlength="6" max="100" tabindex="2" only-number />
					 
					<span ng-messages="formProduct.vat.$error" ng-if="formProduct.vat.$dirty || formProduct.vat.$touched"  role="alert">
						<span ng-messages-include="errorRequired"></span>
						<span ng-messages-include="errorLonglength"></span>
						<span ng-messages-include="errorPatternThisSpecial"></span>
					 </span>
					
                  </div>
               </div>
            </fieldset>
			<fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label for="input-id-1" class="col-sm-3 control-label">Margin</label>
                  <div class="col-sm-4">
                     <input id="input-id-1" name="marginFlat" dir="rtl" ng-model="addModelProduct.marginFlat" type="text" placeholder="Flat" class="form-control"  ng-pattern="/^[0-9 .]*$/" ng-maxlength="8" tabindex="2" only-number />
					 
					<span ng-messages="formProduct.marginFlat.$error" ng-if="formProduct.marginFlat.$dirty || formProduct.marginFlat.$touched"  role="alert">
						<span ng-messages-include="errorRequired"></span>
						<span ng-messages-include="errorLonglength"></span>
						<span ng-messages-include="errorPatternThisSpecial"></span>
					 </span>
					
                  </div>
				  
				  <div class="col-sm-3">
                     <input id="input-id-1" name="margin" dir="rtl" ng-model="addModelProduct.margin" type="text" placeholder="(%)Percentage" class="form-control"  ng-pattern="/^[0-9 .]*$/" ng-maxlength="6" max="100" tabindex="2" only-number />
					 
					<span ng-messages="formProduct.margin.$error" ng-if="formProduct.margin.$dirty || formProduct.margin.$touched"  role="alert">
						<span ng-messages-include="errorRequired"></span>
						<span ng-messages-include="errorLonglength"></span>
						<span ng-messages-include="errorPatternThisSpecial"></span>
					 </span>
					
                  </div>
				  <label for="input-id-1" class="col-sm-2 control-label-left" >{{ (displayParseFloat(addModelProduct.marginFlat) + (displayParseFloat(addModelProduct.purchasePrice) * displayParseFloat(addModelProduct.margin) / 100)) |  currency:"&#8377; "}}</label>
               </div>
            </fieldset>
			<fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label for="input-id-1" class="col-sm-3 control-label">Additional Tax(%)</label>
                  <div class="col-sm-7">
                     <input id="input-id-1" name="additionalTax" dir="rtl" ng-model="addModelProduct.additionalTax" type="text" placeholder="Additional Tax" class="form-control"  ng-pattern="/^[0-9 .]*$/" ng-maxlength="8" max="100" tabindex="2" only-number />
					 
					<span ng-messages="formProduct.additionalTax.$error" ng-if="formProduct.additionalTax.$dirty || formProduct.additionalTax.$touched"  role="alert">
						<span ng-messages-include="errorRequired"></span>
						<span ng-messages-include="errorLonglength"></span>
						<span ng-messages-include="errorPatternThisSpecial"></span>
					 </span>
					
                  </div>
               </div>
            </fieldset>
			 <fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label for="input-id-1" class="col-sm-3 control-label">MRP</label>
                  <div class="col-sm-7">
                     <input id="input-id-1" name="mrp" dir="rtl" ng-model="addModelProduct.mrp = addModelProduct.purchasePrice" type="text" placeholder="MRP" class="form-control"  ng-pattern="/^[0-9 .]*$/" ng-required="true" ng-maxlength="10" tabindex="2" only-number />
					 
					<span ng-messages="formProduct.mrp.$error" ng-if="formProduct.mrp.$dirty || formProduct.mrp.$touched"  role="alert">
						<span ng-messages-include="errorRequired"></span>
						<span ng-messages-include="errorLonglength"></span>
						<span ng-messages-include="errorPatternThisSpecial"></span>
					 </span>
					
                  </div>
               </div>
            </fieldset>
			 <fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label for="input-id-1" class="col-sm-3 control-label">Minimum Stock</label>
                  <div class="col-sm-7">
                     <input id="input-id-1" name="minimumStockLevel" dir="rtl" ng-model="addModelProduct.minimumStockLevel" type="text" placeholder="Minimum Stock" class="form-control"  ng-pattern="/^[0-9]*$/"  ng-maxlength="10" tabindex="2" only-number />
					 
					<span ng-messages="formProduct.minimumStockLevel.$error" ng-if="formProduct.minimumStockLevel.$dirty || formProduct.minimumStockLevel.$touched"  role="alert">
						<span ng-messages-include="errorRequired"></span>
						<span ng-messages-include="errorLonglength"></span>
						<span ng-messages-include="errorPatternThisSpecial"></span>
					 </span>
					
                  </div>
               </div>
            </fieldset>
				<button type="button" class="mr mb-sm btn btn-danger pull-right" tabindex="3" ng-click="cancel()">Cancel</button>
				<button type="button" class="mr mb-sm btn btn-success pull-right" ng-click="clickSave()" tabindex="2"  ng-disabled="formProduct.$invalid" >Save</button>
			</form>
		</center>
	</div>
	
	
	
<script type="text/ng-template" id="errorRequired">
	<span class="text-danger" ng-message="required">{{errorMessage.require}}</span>
</script>

<script type="text/ng-template" id="errorLonglength">
	<span class="text-danger" ng-message="maxlength">{{errorMessage.longLength}}</span>
</script>

<script type="text/ng-template" id="errorPatternAlpha">
	<span class="text-danger" ng-message="pattern">{{errorMessage.Alphabets}}</span>
</script>