<div class="modal-header">
		<button type="button" data-dismiss="modal" data-ng-click="closeButton()" aria-hidden="true" class="close">×</button>  
		  <h4 id="myModalLabel" class="modal-title">Modal title</h4>
	</div>
	<div class="modal-body my-model-body">
		<center>
			<form action="#" name="formProduct" class="form-validate form-horizontal">
				
			<fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label class="col-sm-3 control-label">Company</label>
                  <div class="col-sm-6">
                     <select chosen="" data-ng-model="addModelProduct.company" data-ng-options="s.companyName for s in companyDrop track by s.companyId" ng-change="changeCompany(addModelProduct.company.companyId)"  class="form-control chosen-select" ng-required="true"></select>
                  </div>
               </div>
			</fieldset>
			<fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label class="col-sm-3 control-label">Branch</label>
                  <div class="col-sm-6">
                     <select chosen="" data-ng-model="addModelProduct.branch" data-ng-options="s.branchName for s in branchDrop track by s.branchId" class="form-control chosen-select" ng-required="true"></select>
                  </div>
               </div>
			</fieldset>
            <fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label for="input-id-1" class="col-sm-3 control-label">Product Name</label>
                  <div class="col-sm-6">
                     <input id="input-id-1" name="productName" ng-model="addModelProduct.productName" type="text" placeholder="Product Name" class="form-control" ng-required="true" ng-pattern="/^[a-zA-Z0-9 &,\/_`#().\'-]+$/" ng-maxlength="50" auto-focus />
					 
					 <span ng-messages="formProduct.productName.$error" ng-if="formProduct.productName.$dirty || formProduct.productName.$touched"  role="alert">
						<span ng-messages-include="errorRequired"></span>
						<span ng-messages-include="errorLonglength"></span>
						<span ng-messages-include="errorPatternAlpha"></span>
					 </span>
					 
                  </div>
               </div>
            </fieldset>
			<fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label class="col-sm-3 control-label">Categoy</label>
                  <div class="col-sm-6">
                     <select chosen="" data-ng-model="addModelProduct.category" data-ng-options="s.productCategoryName for s in categoryDrop track by s.productCategoryId" class="form-control chosen-select" ng-required="true"></select>
                  </div>
               </div>
			</fieldset>
			<fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label class="col-sm-3 control-label">Group</label>
                  <div class="col-sm-6">
                     <select chosen="" data-ng-model="addModelProduct.group" data-ng-options="s.productGroupName for s in groupDrop track by s.productGroupId" class="form-control chosen-select" ng-required="true"></select>
                  </div>
               </div>
			</fieldset>	
			<fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label class="col-sm-3 control-label">Measurement Unit</label>
                  <div class="col-sm-6">
                     <select chosen="" data-ng-model="addModelProduct.measureUnit" data-ng-options="s for s in measureUnitDrop" class="form-control chosen-select" ng-required="true">
						<option value=""></option>
					 </select>
                  </div>
               </div>
			</fieldset>	
			 <fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label for="input-id-1" class="col-sm-3 control-label">Purchase Price</label>
                  <div class="col-sm-6">
                     <input id="input-id-1" name="purchasePrice" dir="rtl" ng-model="addModelProduct.purchasePrice" type="text" placeholder="Purchase Price" class="form-control" ng-required="true" ng-pattern="/^[0-9 \.]+$/" ng-maxlength="10" />
					 
					<span ng-messages="formProduct.purchasePrice.$error" ng-if="formProduct.purchasePrice.$dirty || formProduct.purchasePrice.$touched"  role="alert">
						<span ng-messages-include="errorRequired"></span>
						<span ng-messages-include="errorLonglength"></span>
						<span ng-messages-include="errorPatternThisSpecial"></span>
					 </span>
					
                  </div>
               </div>
            </fieldset>
			 <fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label for="input-id-1" class="col-sm-3 control-label">Wholesale Margin</label>
                  <div class="col-sm-6">
                     <input id="input-id-1" name="wholesaleMargin"  ng-model="addModelProduct.wholesaleMargin" type="text" placeholder="Wholesale Margin" class="form-control" ng-required="true" ng-pattern="/^[0-9]{1,3}(\.[0-9]{1,2})?$|^100$/" style="direction:RTL;" ng-maxlength="6" />
					 
					<span ng-messages="formProduct.wholesaleMargin.$error" ng-if="formProduct.wholesaleMargin.$dirty || formProduct.wholesaleMargin.$touched"  role="alert">
						<span ng-messages-include="errorRequired"></span>
						<span ng-messages-include="errorLonglength"></span>
						<span ng-messages-include="errorPatternThisSpecial"></span>
					 </span>
					
                  </div>
               </div>
            </fieldset>
			<fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label for="input-id-1" class="col-sm-3 control-label">Semi-Wholesale Margin</label>
                  <div class="col-sm-6">
                     <input id="input-id-1" name="semiWholesaleMargin" dir="rtl" ng-model="addModelProduct.semiWholesaleMargin" type="text" placeholder="Semi-Wholesale Margin" class="form-control" ng-required="true" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$|^100$/" ng-maxlength="6" />
					 
					<span ng-messages="formProduct.semiWholesaleMargin.$error" ng-if="formProduct.semiWholesaleMargin.$dirty || formProduct.semiWholesaleMargin.$touched"  role="alert">
						<span ng-messages-include="errorRequired"></span>
						<span ng-messages-include="errorLonglength"></span>
						<span ng-messages-include="errorPatternThisSpecial"></span>
					 </span>
					
                  </div>
               </div>
            </fieldset>
			<fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label for="input-id-1" class="col-sm-3 control-label">VAT(%)</label>
                  <div class="col-sm-6">
                     <input id="input-id-1" name="vat" dir="rtl" ng-model="addModelProduct.vat" type="text" placeholder="VAT(%)" class="form-control" ng-required="true" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$|^100$/" ng-maxlength="6" />
					 
					<span ng-messages="formProduct.vat.$error" ng-if="formProduct.vat.$dirty || formProduct.vat.$touched"  role="alert">
						<span ng-messages-include="errorRequired"></span>
						<span ng-messages-include="errorLonglength"></span>
						<span ng-messages-include="errorPatternThisSpecial"></span>
					 </span>
					
                  </div>
               </div>
            </fieldset>
			<fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label for="input-id-1" class="col-sm-3 control-label">Margin</label>
                  <div class="col-sm-6">
                     <input id="input-id-1" name="margin" dir="rtl" ng-model="addModelProduct.margin" type="text" placeholder="Margin" class="form-control" ng-required="true" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$|^100$/" ng-maxlength="6" />
					 
					<span ng-messages="formProduct.margin.$error" ng-if="formProduct.margin.$dirty || formProduct.margin.$touched"  role="alert">
						<span ng-messages-include="errorRequired"></span>
						<span ng-messages-include="errorLonglength"></span>
						<span ng-messages-include="errorPatternThisSpecial"></span>
					 </span>
					
                  </div>
               </div>
            </fieldset>
			 <fieldset class="my-fieldset-paddingBottom">
               <div class="form-group">
                  <label for="input-id-1" class="col-sm-3 control-label">MRP</label>
                  <div class="col-sm-6">
                     <input id="input-id-1" name="mrp" dir="rtl" ng-model="addModelProduct.mrp" type="text" placeholder="MRP" class="form-control" ng-required="true" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$|^100$/" ng-maxlength="10" />
					 
					<span ng-messages="formProduct.mrp.$error" ng-if="formProduct.mrp.$dirty || formProduct.mrp.$touched"  role="alert">
						<span ng-messages-include="errorRequired"></span>
						<span ng-messages-include="errorLonglength"></span>
						<span ng-messages-include="errorPatternThisSpecial"></span>
					 </span>
					
                  </div>
               </div>
            </fieldset>
				<button type="button" class="mr mb-sm btn btn-danger pull-right" ng-click="cancel()">Cancel</button>
				<button type="button" class="mr mb-sm btn btn-success pull-right" ng-click="clickSave()"  ng-disabled="formProduct.$invalid" >Save</button>
			</form>
		</center>
	</div>
	
	
	
<script type="text/ng-template" id="errorRequired">
	<span class="text-danger" ng-message="required">{{errorMessage.require}}</span>
</script>

<script type="text/ng-template" id="errorLonglength">
	<span class="text-danger" ng-message="maxlength">{{errorMessage.longLength}}</span>
</script>

<script type="text/ng-template" id="errorPatternAlpha">
	<span class="text-danger" ng-message="pattern">{{errorMessage.Alphabets}}</span>
</script>