<h3>
	
   <small><a ui-sref="app.dashboard" ><i class="fa fa-home"></i>Home</a> >> Group</small>
</h3>
<div data-ng-controller="InvGroupController as table" class="container-fluid">
	<div class="panel panel-default">
		 <!--h4 class="panel-heading"></h4-->
		<div class="panel-body">
			<div class="form-group">
				<label class="col-sm-1 control-label"> Group </label>
					<div class="col-sm-4">
						<select chosen="" data-ng-model="invGroupData.groupDropDown" data-ng-options="s.productGroupName for s in table.groupDrop track by s.productGroupId" class="form-control chosen-select"></select>
					</div>
					
				<label class="col-sm-1 control-label"> Name </label>
					<div class="col-sm-4">
						<input ng-model="invGroupData.groupName" id="input-id-1" type="text" placeholder="Group Name" class="form-control" />
					</div>
				<button type="button" class="mr mb-sm btn btn-primary" ng-click="addUpGroup()">Save</button>
			</div>
			<div class="form-group">
				<label class="col-sm-1 control-label"> Description </label>
					<div class="col-sm-4">
						<textarea ng-model="invGroupData.groupDesc" id="input-id-1" type="text" placeholder="Group Description" class="form-control" ></textarea>
					</div>
			</div>
		</div>
	</div>
   <div class="panel panel-default">
      <div class="panel-heading" >
         <!--button data-ng-click="table.tableParams.sorting({})" class="pull-right btn btn-default btn-sm">Clear sorting</button-->
		 <!--button class="btn btn-labeled btn-primary pull-right btn-sm" ui-sref="#" >
			<span class="btn-label"><i class="fa fa-plus"></i></span>
		Add Group</button-->
         <div class="panel-title">Group</div>
      </div>
      
	  <tree-grid col-defs="col_defs" expand-on="expanding_property" on-click="my_tree_handler(branch)" tree-data="tree_data"></tree-grid>
   </div>
  
</div>