<h3>
	
   <small><a ui-sref="app.dashboard" ><i class="fa fa-home"></i>Home</a> >> Category</small>
</h3>
<div data-ng-controller="InvCategoryController as table" class="container-fluid">
	<div class="panel panel-default">
		 <!--h4 class="panel-heading"></h4-->
		<div class="panel-body">
			<div class="form-group">
			
				<label class="col-sm-1 control-label"> Category </label>
					<div class="col-sm-4">
						<select chosen="" data-ng-model="invCategoryData.categoryDropDown" data-ng-options="s.productCategoryName for s in table.categoryDrop track by s.productCategoryId" class="form-control chosen-select"></select>
					</div>
					
				<label class="col-sm-1 control-label"> Name </label>
					<div class="col-sm-4">
						<input ng-model="invCategoryData.categoryName" id="input-id-1" type="text" placeholder="Category Name" class="form-control" />
					</div>
					
					
				<button type="button" class="mr mb-sm btn btn-primary" ng-click="addUpCategory()">Save</button>
				
			</div>
			<div class="form-group">
				<label class="col-sm-1 control-label"> Description </label>
					<div class="col-sm-4">
						<textarea ng-model="invCategoryData.categoryDesc" id="input-id-1" type="text" placeholder="Category Description" class="form-control" ></textarea>
					</div>
			</div>
		</div>
	</div>
   <div class="panel panel-default">
      <div class="panel-heading" >
         <!--button data-ng-click="table.tableParams.sorting({})" class="pull-right btn btn-default btn-sm">Clear sorting</button-->
		 <!--button class="btn btn-labeled btn-primary pull-right btn-sm"  ui-sref="#" >
			<span class="btn-label"><i class="fa fa-plus"></i></span>
		Add Category</button-->
		
		<!--button class="btn btn-labeled btn-primary pull-right btn-sm" ui-sref="#" >
			<span class="btn-label"><i class="fa fa-plus"></i></span>
		Add Sub Category</button-->
         <div class="panel-title">Category</div>
      </div>
      
	  <tree-grid  col-defs="col_defs" expand-on="expanding_property" on-click="my_tree_handler(branch)" tree-data="tree_data"></tree-grid>
   </div>
  
</div>